@model object

@{
    Layout = null;
}

<html>
    <head>
        <title>Composite Inspector</title>
    </head>
        <frameset cols="0" rows="350,*">
            <frame src="@Url.Action("Index", "Composite")" border="0" name="in-frame"/>
            <frame src="/"/>
        </frameset>
</html>