@model object
@{
	Layout = null;
}
<html>
	<head>
		<title>Composite Inspector</title>
	</head>
	<frameset cols="0" rows="350,*">
		<frame src="@Url.Action("Index", "Composite")" frameborder="0"/>
		<frame src="/"/>
	</frameset>
</html>