@using Euclid.Framework.Metadata
@model IEnumerable<IPropertyMetadata>

<fieldset>
    @foreach (var prop in @Model)
    {
        <div class="property-set">
            <div class="property-label">@Html.Label(prop.Name)</div>
            <div class="property-value">@Html.TextBox(prop.Name)</div>
        </div>
    }
</fieldset>