<form method="get" action="#search">
	<div>
		<input type="text" id="Form_Search" name="Search" value="Search" class="InputBox" />
		<input type="submit" id="Form_Go" value="Go" class="Button" />
	</div>
</form>