<div class="Tabs DiscussionsTabs">
	<ul>
		<li class="Active">@Html.ActionLink("All Discussions", "Thread")</li>
		<li><a href="#mybookmarks" class="MyBookmarks">My Bookmarks<span>10</span></a></li> 
		<li><a href="#mydiscussions" class="MyDiscussions">My Discussions<span>27</span></a></li> 
		<li><a href="#mydraft" class="MyDrafts">My Drafts<span>3</span></a></li> 
		<li class="add-discussion"><a href="#new">Start a New Discussion</a></li> 
	</ul>
	<!--
		<div class="SubTab"><span class="FirstCrumb">↳ </span>Nested Category</div>
		-->
</div>