<ul>
	<li><a href="#mydiscussions">Discussions</a><a href="#feed"	id="discussions-rss"></a></li>
	<li><a href="#">Activity</a></li>
	<li><a href="#">Inbox</a></li>
	<li><a href="#">Sign Out</a></li>
	<!--<li><a href="#" class="SignInPopup">Sign In</a></li>-->
</ul>