@model CommandMetadataModel

<div class="model-header">@this.ViewBag.Title</div>

<ul>
	<li>
		@this.Model.Commands.Namespace
		<ul>
			@foreach (var m in this.Model.Commands)
			{
				<li>
					<a href="@this.Url.Action("Inspect", "Command", new { agentSystemName = this.Model.AgentSystemName, commandName = m.Name })">
						@m.Name
					</a>
				</li>
			}
		</ul>
	</li>
</ul>