[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.docstates
_ReSharper.Euclid/*
_ReSharper.*
nuget/temp
nuget/Euclid.*.nupkg
*.dotCover
*.orig
*.log
csx/
build/output/
build/package/
_bin_*
build/prepackage/
build/buildoutput/