<div id="read-model">
	<div class="row show-grid">
		<div class="span16 columns">
			<h5 id="read-model-name"></h5>
			<ul>
			{{#Properties}}
				<li><strong>{{PropertyName}}</strong> {{PropertyType}}</li>
			{{/Properties}}
			</ul>
		</div>
	</div>
</div>