@{
	Layout = "Shared/_Layout.cshtml";
}
	
@if (false)
{ 
	// this will not get compiled by the razor view engine, but gives us access to intellisense for the EUCLID js library
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript" src="/composite/js/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		pageInit();

		$(".read-model").click(function () {
			var systemName = $(this).attr("data-agent-system-name");
			var readModelName = $(this).text();
			var target = $(this);

			$.get("/composite/ui/partial/read-model", function (source) {
				var data = { Properties: EUCLID.getJsonObject("/composite/api/readmodel/" + systemName + "/" + readModelName) };
				var template = Handlebars.compile(source);
				$(target).popover({ placement: "left", html: "true", title: readModelName, content: template(data) });
				$(target).popover("show");
			});

			return false;
		});

		$(".command").click(function () {
			var systemName = $(this).attr("data-agent-system-name");
			var commandName = $(this).text();

			var inputModel = EUCLID.getInputModel({ commandName: commandName, agentSystemName: systemName });
			if (inputModel != null) {
				var form = inputModel.getForm(false);
				$(form).attr("id", "the-form");
				$(form).attr("data-command-name", commandName);
				if ($("#form-container-modal").length) {
					$("#form-container-modal").remove(); //there can be only one
				}

				$("<div id='form-container-modal' class='modal' data-form-type='command'></div>")
					.load("/composite/ui/partial/form-container",
					function () {
						$(this).find("#form-container").append($(form));
						$(this).modal("show");
					});
			}

			return false;
		});

		$(".query").click(function () {
			var queryName = $(this).text();
		});

		$(document).on("click", "#hide-modal-form", function () {
			$("#form-container-modal").modal("hide");

			if ($("#form-container-modal").length) {
				$("#form-container-modal").remove();
			}
			return false;
		});

		$(document).on("click", "#submit-modal-form", function () {
			var formType = $("#form-container-modal").attr("data-form-type");
			var form = $("#form-container-modal").find("#the-form");

			if (form.length == 0) {
				EUCLID.displayError({ name: "Could not find form", message: "no form with id 'the-form' could be found in the modal form container" });
			} else {
				if (formType == "command") {
					var commandName = $(form).attr("data-command-name");
					submitForm(form, commandName);
				} else if (formType == "query") {
					alert("submitting query");
				} else {
					EUCLID.displayError({ name: "Unknown form type", message: formType });
				}
			}
			return false;
		});

		$(document).on("click", "#stop-polling", function () {
			continuePolling = false;
		});
	});

	function pageInit() {
		var source = $("#source").html();
		var template = Handlebars.compile(source);
		var data = EUCLID.getJsonObject("/composite/api/agent/Newco.ForumAgent");
		$("#source").html(template(data));
	}

	var continuePolling = true;
	function submitForm(form, commandName) {
		continuePolling = true;
		var formContainer = $(form).parent();
		$(form).hide();
		$(formContainer).parent().find(".modal-footer").hide();
		$(formContainer).find(".close").hide();
		
		var publicationRecord = EUCLID.submitForm($(form));

		$(formContainer).append("<div class='alert alert-info' id='poll-count'><strong><p id='poll-status'></p><a href='#' class='btn primary' id='stop-polling'>Stop Polling</a></strong></div>");
		EUCLID.pollForCommandStatus({
			publicationId: publicationRecord.Identifier,
			pollMax: 25,

			onOpportunityToCancelPolling: function (pollCount) {
				var msg = "Polled " + ((pollCount == 1) ? "1 time" : (pollCount + " times"));
				$(formContainer).find("#poll-status").text(msg);

				return continuePolling;
			},

			onCommandComplete: function (result) {
				finishPolling(formContainer, form);
				displayResult(formContainer, form, result);
			},

			onCommandError: function (result) {
				finishPolling(formContainer, form);
				displayResult(formContainer, form, result);
			},

			onPollError: function (e) {
				finishPolling(formContainer, form);
				$(formContainer).append("<div class='alert alert-error'><p><strong>" + e.name + "</strong> <span>" + e.message + "</span></p></div>");
			}
		});
	}

	function finishPolling(formContainer, form) {
		$(formContainer).find("#poll-count").remove();
		//$(formContainer).find(".close").show();
		$(form).remove();

	}

	function displayResult(formContainer, form, result) {
		var alertClass = "alert-success";
		if (result.Error) {
			alertClass = "alert-error";
		} else if (!result.Dispatched) {
			alertClass = "alert-block";
		}

		$.get("/composite/ui/partial/publication-record",
			function (source) {
				var details = $("<div class='alert " + alertClass + "'><div class='row'><a href='#' data-dismiss='modal' class='close'>x</a></div></div>");
				var template = Handlebars.compile(source);
				$(details).append(template(result));
				$(formContainer).append($(details));
			});
	}
</script>

<div id="source">
	<div class="row">
		<div class="span16" id="agent-details">
			<h5>{{DescriptiveName}} <small>{{SystemName}}</small></h5>
			<dl>
				<dd>{{Description}}</dd>
			</dl>
		</div>
	</div>

	<div>

		<div class="span5 columns">
			<h5>Commands</h5>
			<ul>
			{{#Commands}}
				<li id="{{../SystemName}}-command-{{Name}}">
					<a href="#" class="command" data-agent-system-name="{{../SystemName}}">{{Name}}</a>
				</li>
			{{/Commands}}
		</div>

		<div class="span6 columns">
			<h5>Queries</h5>
			<ul>
			{{#Queries}}
				<li id="{{../SystemName}}-query-{{Name}}">
					<a href="#" class="query">{{Name}}</a>
				</li>
			{{/Queries}}
			</ul>
		</div>

		<div class="span5 columns">
			<h5>Read Models</h5>
			<ul>
			{{#ReadModels}}
				<li id="{{../SystemName}}-readmodel-{{Name}}">
					<a href="#" class="read-model" data-agent-system-name="{{../SystemName}}">{{Name}}</a>
				</li>
			{{/ReadModels}}
			</ul>
		</div>

	</div>
</div>