@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model CreateForumAvatarInputModel


<section>
	@using (Html.BeginFormForInputModel(Model))
	{
		@Html.HiddenFor(m=>m.ForumIdentifier)
		<fieldset>
			<legend>New Badge</legend>

			<dl>
				<dt><label for="avatar-name">Badge Name</label></dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "avatar-name" })</dd>

				<dt><label for="avatar-description">Description</label></dt>
				<dd>@Html.TextAreaFor(m => m.Description, new { id = "avatar-description" })</dd>

				<dt><label for="avatar-image">Image</label></dt>
				<dd><input type="file" /></dd>
			</dl>
		</fieldset>

		<button type="submit">Save</button>	
	 }
</section>