<div id="newPost" class="row">
	<div class="span3">
		<form>
		<div class="inline-inputs">
			<select class="input-small" style="font-size: small;">
				<option>Category</option>
				<option>Another Category</option>
				<option>Creative Category</option>
				<option>Unmoderated Forum</option>
				<option>Placeholder Category</option>
				<option>Example Category</option>
			</select>
			<input type="button" class="btn primary" value="Create Post" />
		</div>
		</form>
	</div>
</div>
