<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
	float: right; clear: left;">
	<img src="../../Themes/default/images/arrow-090.png" /><br />
	<img src="../../Themes/default/images/arrow-270.png" /><br />
	<img src="../../Themes/default/images/exclamation-white.png" /><br />
</div>
<h2>
	<a href="@Url.RouteUrl("Post", new { categorySlug = "my-category", postSlug = "post-title"})">{Post Title}</a></h2>
<p>
	Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
	sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat
	a ante venenatis dapibus posuere velit aliquet. &mdash; <span style="text-align: right;
		font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <a href="@Url.RouteUrl("Category", new { categorySlug = "category"})" class="label">
			Another Category</a></span></p>
<p>
	<span style="padding-top: 7px; text-align: right; font-size: smaller;">
		<img src="../../Themes/default/images/balloon-white.png" />
		<a href="#">999 comments</a></span>&nbsp;&nbsp;&nbsp;<a class="btn" href="#">Add comment &raquo;</a>
</p>
