<div class="sidebar">
	<div class="well">
		@RenderPage("~/Views/RoughDraft/partials/Badge.cshtml")       
	</div>
	<div class="well">
		@RenderPage("~/Views/RoughDraft/partials/Categories.cshtml")       
		<hr/>
		@RenderPage("~/Views/RoughDraft/partials/TopUsers.cshtml")       
		<hr/>
		@RenderPage("~/Views/RoughDraft/partials/Tags.cshtml")       
	</div>
</div>