<section id="widgets-container">
	<div class="widget increase" id="new-visitors">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a> <span>increase</span>
		<p><strong>+35,18<sup>%</sup></strong> +2489 new visitors</p>
	</div>
	<div class="widget decrease" id="new-orders">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a> <span>decrease</span>
		<p><strong>-12,50<sup>%</sup></strong> -311 new orders</p>
	</div>
	<div class="widget increase" id="new-tasks">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a> <span>7</span>
		<p><strong>Tasks</strong> +3 New Tasks</p>
	</div>
	<div class="widget text-only" id="text-widget">
		<a href="#" class="close-widget" title="Hide Widget" rel="tooltip">x</a>
		<p><strong>Text Only App</strong> +29 Lorem Ipsum</p>
	</div>
	<div class="widget add-new-widget">
		<a href="#"><span>Add</span> <strong>Add Widget</strong> </a>
	</div>
</section>