@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
	Layout = "Shared/_Layout.cshtml";
	var model = (string)@Model;
}

@section page_title {
	Query Methods for @model
}

<script type="text/javascript">
	$(document).ready(function() {
		var queryMetadata = null;
		try {
			queryMetadata = EUCLID.getQueryMetadata({
				queryName: "@model" });
				if (queryMetadata == null || queryMetadata === undefined) {
				$("#list-container").html("<p class='alert-message warning'>The query @model contains no query methods</p>");
			}
		
	


	else {
				var list = $("<ul></ul>");
				$.each(queryMetadata.Methods, function (index, method) {
					list.append($("<li><a data-index='" + index + "' class='execute' href='#'>" + method.Name + "</a></li>"));
				});

				$("#list-container").append(list);
			}
		} catch (e) {
			$("#list-container").html("<p class='alert-message error'><strong>" + e.name + "</strong><br/><br/><span>" + e.message + "</span></p>");
		}

		$(".execute").click(function () {
			var idx = $(this).attr("data-index");
			var method = queryMetadata.Methods[idx];
			var form = EUCLID.getQueryForm({ method: method, queryName: "@model" });
			$(form).attr("data-method-name", method.Name);
			$("#form-container").html("");
			$("#results").html("");
			$("#form-container").append($(form));

			$(form).attr("id", "query-form");
			return false;
		});

		$(document).on('submit', "#query-form", function () {
			var url = $("#query-form").attr("action");
			var data = $("#query-form").serialize();
			var method = $("#query-form").attr("data-method-name");

			$.ajaxSetup({ "async": false });
			var jqHxr = jQuery.post(url, data);
			$.ajaxSetup({ "async": true });

			var json = jqHxr.responseText;
			if (jqHxr.status == 500) {
				var e = $.parseJSON(json);
				$("#results").html("<p class='alert-message error'><strong>" + e.name + "</strong> " + e.message + "<br/><br/>" + e.callStack + "</p>");
			} else {
				var model = $.parseJSON(json);
				var html = "";

				if (model instanceof Array) {
					if (model.length == 0) {
						html = "<p class='alert-message warning'><strong>Nada</strong> the query @model." + method + " returned 0 results";
					} else {
						$.each(model, function (index, item) {
							html += formatProperties(item);
						});
					}
				}
				else {
					html = formatProperties(model);
				}

				$("#results").html(html);
			}
			event.preventDefault();
			return false;
		});
	});

	function formatProperties(item) {
		var format = "<div class='alert-message block-message success'><p>";
		var re = new RegExp("\\/Date\\((-?\\d+)\\)\\/");
		for (property in item) {
			if (item.hasOwnProperty(property) && typeof property != "function") {
				var m = re.exec(item[property]);
				var val = (m == null) ? item[property] : new Date(parseInt(m[1]));
				format += "<strong>" + property + "</strong> " + val + "<br />";
			}
		}
		format += "</p></div>";
		return format;
	}
</script>

<h5 id="query-name">@model</h5>
<div class="row show-grid">
	<div class="span6">
		<div id="list-container" ></div>
	</div>
	<div class="span8 offset2">
		<div id="form-container"></div>
	</div>
</div>

<div class="row">
	<div class="span12 offset2">
		<div id="results"></div>
	</div>
	<div class="span2"></div>
</div>