@{
	var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
	var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}
<script>
	$(document).ready(function() {
		$("#action-link").click();
	})
</script>
<nav id="main-nav">
	<ul>
		<li class="current">
		<li @if (controller == "Forum")
				{
					<text>class="current"</text>
				}>
			<a href="#" title="Actions" class="articles" id="action-link">Actions</a>
			<ul style="display: block">
				<li @if ((action == "List" && controller == "Forum") || action == "Details")
						{
							<text>class="current"</text>
						}>@Html.ActionLink("Sign up", "Create", "User")</li>
				<li @if ((action == "List" && controller == "Forum") || action == "Details")
						{
							<text>class="current"</text>
						}>@Html.ActionLink("Sign in", "Signin", "User")</li>
			</ul>
		</li>
	</ul>
</nav>