
<ul>
	<li class="current"><a href="/" title="title" class="dashboard no-submenu">Dashboard</a></li>
	<!-- Use class .no-submenu to open link instead of a sub menu-->
	<!-- Use class .current to open submenu on page load -->
	<li><a href="#" title="title" class="articles">My Forums</a><span title="There are 23 new log entries">23</span>
		<ul>
			<li><a href="#">Manage Forums</a></li>
			<li><a href="#">Create New Forum</a></li>
			<li><a href="#">Agent Gallery</a></li>
		</ul>
	</li>
	<li><a href="#" title="title" class="gallery">Users</a><span title="There are 23 new log entries">23</span>
		<ul>
			<li><a href="#">Manage Users</a></li>
			<li><a href="#">Invite User</a></li>
			<li><a href="#">Create New User</a></li>
		</ul>
	</li>
	<li><a href="#" title="title" class="gallery">Moderation</a><span title="There are 47 new log entries">47</span>
		<ul>
			<li><a href="#">Moderate Posts</a></li>
			<li><a href="#">Moderate Comments</a></li>
		</ul>	
	</li>
</ul>