<h5>Agents</h5>
<dl>
{{#Agents}}
	<dt id="{{../SystemName}}-command-{{Name}}">
		<a class="agent" href="/composite/agent/{{SystemName}}">{{DescriptiveName}}</a>
	</dt>
	<dd><small>{{Description}}</small></dd>
{{/Agents}}
</dl>