@if (false) { 
	// enable intellisense for EUCLID.js
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript">
	$(document).ready(function () {
		if (typeof commandScript === "undefined") {
			$.getScript("/composite/js/composite-inspector-commands.js", function (data, textStatus, jqxhr) { $(".command").removeAttr("disabled"); });
		} else {
			$(".command").removeAttr("disabled");
		}
	});
</script>
<h5>Commands</h5>
<ul>
{{#Commands}}
	<li id="{{../SystemName}}-command-{{Name}}">
		<a href="#" class="command" disabled="disabled" data-command-name="{{Name}}">{{Name}}</a>
	</li>
{{/Commands}}
</ul>
