@if (false) { 
	// enable intellisense for EUCLID.js
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript">
	$(document).ready(function () {
		if (typeof commandScript === "undefined") {
			$.getScript("/composite/js/composite-inspector-commands.js", function (data, textStatus, jqxhr) { $(".command").removeAttr("disabled"); });
		} else {
			$(".command").removeAttr("disabled");
		}

		$(".input-model-properties").click(function () {
			var inputModelName = $(this).attr("data-input-model-name");
			var target = $(this);

			WorkWithDataFromUrl("/composite/api/inputModel/" + inputModelName,
				function (inputModel) {
					Using(inputModel)
						.Render("/composite/ui/template/modal/input-model")
						.Manipulate(function (template) {
							$(modal).html("");
							$(modal).append($(template));
							$(modal).modal("show");
						});
				}
			);

			return false;
		});

		$(".input-model-form").click(function () {
			EUCLID.displayError({ name: "Not Implemented Exception", message: "Method not implemented" });
			return false;
		});

		$("#dismiss-modal").click(function () {
			$(modal).hide();
			$(modal).remove();
		});
	});
</script>

<h5>Input Models</h5>
<ul>
{{#InputModels}}
	<li id="input-model-{{Name}}">
		{{Name}} 
		(<a href="#" class="input-model-properties" data-input-model-name="{{Name}}">properties</a>
		|
		<a href="#" class="command" disabled="disabled" data-command-name="{{CommandName}}">submit</a>)
	</li>
{{/InputModels}}
</ul>