<div id="input-model">
	{{#Properties}}
	<h5>{{Name}} <small>{{Type}}</small></h5>
	<div class="row">
		{{#if Value}}
		<div class="span3"><b>Value</b> {{Value}}</div>
		{{/if}}

		{{#if Choices}}
		<div class="span3">
			<dl>
				<dd>Choices</dd>
				{{#each Choices}}
				<dt>{this}</dt>
				{{/each}}
			</dl>
		</div>

		<div class="span3">
			<b>Multiple Choice</b> {{MultiChoice}}
		</div>
		{{/if}}
	</div>
	{{/Properties}}
</div>