@if (false)
{ 
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}
<script type="text/javascript">
	var modal = $("<div id='modal'></div>");
	$(document).ready(function () {
		$(".query").click(function () {
			var queryName = $(this).attr("data-query-name");
			EUCLID.withQuery(queryName, function (query) {
				for (var i = 0; i < query.Methods.length; i++) {
					console.log(queryName + "." + query.Methods[i].Name);
				}

				Using(query)
					.Render("/composite/ui/template/modal/query")
					.Manipulate(function (content) {
						$(modal).html("");
						$(modal).append(content);
						$(modal).modal("show");
					});
			});
		});
	});
</script>
<h5>Queries</h5>
<ul>
{{#Queries}}
	<li id="{{../SystemName}}-query-{{Name}}">
		<a href="#" class="query" data-query-name="{{Name}}">{{Name}}</a>
	</li>
{{/Queries}}
</ul>
