<script type="text/javascript">
	/// <reference path="/Assets/Scripts/euclid-0.9.js" />
	var modal = $("<div id='modal'></div>");
	$(document).ready(function () {
		$(".read-model").click(function () {
			var systemName = $(this).attr("data-agent-system-name");
			var readModelName = $(this).text();
			var target = $(this);

			WorkWithDataFromUrl("/composite/api/readmodel/" + systemName + "/" + readModelName,
				function (readModel) {
					Using({ Properties: readModel })
						.Render("/composite/ui/template/modal/read-model")
						.Manipulate(function (content) {
							$(modal).html("");
							$(modal).append($(content));
							$(modal).modal("show");
						});
				});

			return false;
		});

		$(document).on("click", "#dismiss-modal", function () {
			$("#modal").modal("hide");
			$("#modal").remove();
		});
	});
</script>

<h5>Read Models</h5>
<ul>
{{#ReadModels}}
	<li id="{{../SystemName}}-readmodel-{{Name}}">
		<a href="#" class="read-model" data-agent-system-name="{{../SystemName}}">{{Name}}</a>
	</li>
{{/ReadModels}}
</ul>
