<div>
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>{{Name}} {{#unless PresentInComposite}}<h5>No input model available in this composite</h5>{{/unless}}</h3>
	</div>
	<div class="modal-body">
		{{#Properties}}
			<h5>{{PropertyName}} <small>{{PropertyType}}</small></h5>
		{{/Properties}}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn secondary" id="dismiss-modal">Close</a>
	</div>
</div>
