<div>
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>An error occurred</h3>
	</div>
	<div class="modal-body">
		<div class='alert alert-error'>
			<strong>{{name}}</strong> {{message}}
			{{#if callStack}}
			<br />
			{{convert-breaks callStack}}
			{{/if}}
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn secondary" id="dismiss-modal">Cancel</a>
	</div>
</div>