<script type="text/javascript">
	$(document).ready(function () {
		$(".message-location").tooltip();
	});
</script>

<div>
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>{{#if record.Error}}Error publishing {{else}}Successfully published{{/if}} {{record.MessageType}}</h3>
	</div>
	<div class="modal-body" id="form-content">
		<div id="publication-record" class="alert {{class}}">
			<table class="table-condensed">
				<tr>
					<td><strong>Completed</strong></td>
					<td>{{#if record.Completed}}True{{else}}False{{/if}}</td>
				</tr>

				<tr>
					<td><strong>Dispatched</strong></td>
					<td>{{#if record.Dispatched}}True{{else}}False{{/if}}</td>
				</tr>

				<tr>
					<td><strong>Created</strong></td>
					<td>{{record.Created}}</td>
				</tr>

				<tr>
					<td><strong>Command</strong></td>
					<td><a class="message-location" href="{{record.MessageLocation}}" rel="tooltip" data-original-title="click to open the serialized message">{{record.MessageLocation}}</a></td>
				</tr>

				{{#if record.Error}}
				<tr>
					<td><strong>Error Message</strong></td>
					<td>{{record.ErrorMessage}}</td>
				</tr>
				{{/if}}

				{{#if record.CallStack}}
				<tr>
					<td><strong>Call Stack</strong></td>
					<td>{{convert-breaks record.CallStack}}</td>
				</tr>
				{{/if}}
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn secondary" id="dismiss-modal">Cancel</a>
	</div>
</div>