@if (false) { 
	<script type="text/javascript" src="../../../Assets/Scripts/euclid-0.9.js"></script>
}
<script type="text/javascript">
	$(document).ready(function () {
		$(document).on("click", ".method", function () {
			var selectedQuery = $(this).attr("data-query-name");
			var selectedMethod = $(this).attr("data-method-name");
			var numberArguments = $(this).attr("data-argument-count");

			$("#execute-query").attr("data-query-name", selectedQuery);
			$("#execute-query").attr("data-method-name", selectedMethod);

			if (!selectedMethod) {
				alert("could not find method: " + $(this).text());
				return;
			}
			EUCLID.withQuery(selectedQuery,
				function (query) {
					var method = query.getMethodNamed(selectedMethod, numberArguments);
					var form = method.getForm("query-form");
					console.log("the method " + selectedQuery + "." + selectedMethod + " has " + numberArguments + " arguments");

					$("#query-form-container").html("");
					$("#query-form-container").append($(form));
					$("#query-form-container").show();
					$("#view-list").show();
					$("#execute-query").show();
					$("#method-names").hide();
				});

			return false;
		});

		$(document).on("click", "#execute-query", function () {
			var selectedQuery = $(this).attr("data-query-name");
			var selectedMethod = $(this).attr("data-method-name");

			EUCLID.withFormResults($("#query-form"), function (results) {
				var data = getQueryResultsObject(results, selectedQuery, selectedMethod);
				Using(data).Render("/composite/ui/template/query-results-table").Manipulate(function (content) {
					$("#query-results-table").show();
					$("#execute-query").hide();
					$("#query-results-table").html("");
					$("#query-results-table").append($(content));
				});
			});

			return false;
		});

		$(document).on("click", "#view-list", function () {
			$("#query-form-container").hide();
			$("#view-list").hide();
			$("#execute-query").hide();
			$("#execute-query").removeAttr("data-query-name");
			$("#execute-query").removeAttr("data-method-name");
			$("#query-results-table").hide();
			$("#method-names").show();

			return false;
		});
	});


	function getQueryResultsObject(results, queryName, methodName) {
		if ((results instanceof Array && results.length == 0) || !results) {
			return;
		} else if (!results instanceof Array) {
			var tmp = new Array();
			tmp.push(results);
			results = tmp;
		}

		var sample = results[0];
		var numberResults = results.length;
		var headers = new Array();
		for (property in sample) {
			if (!sample.hasOwnProperty(property)) {
				continue;
			}

			headers.push(property);
		}

		return { Headers: headers, Results: results, NumberResults: numberResults, FullQueryName: queryName + "." + methodName };
	}
</script>

<div>
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>{{Name}}</h3>
	</div>
	<div class="modal-body" id="method-names">
		{{#Methods}}
			<h5>
				<a href="#" class="method" data-query-name="{{../Name}}" data-method-name="{{Name}}" data-argument-count="{{#get-argument-count Arguments}}{{/get-argument-count}}">{{Name}}</a>
				<small>({{#comma-delimited-list Arguments "ArgumentName"}}{{/comma-delimited-list}})</small>
			</h5>
		{{/Methods}}
	</div>
	<div class="modal-body" id="query-form-container" style="display:none"></div>
	<div class="modal-body" id="query-results-table" style="display:none"></div>
	<div class="modal-footer">
		<a href="#" class="btn primary" id="execute-query" style="display:none">Execute Query</a>
		<a href="#" class="btn secondary" id="view-list" style="display:none">View Query List</a>
		<a href="#" class="btn secondary" id="dismiss-modal">Close</a>
	</div>
</div>
