@using Euclid.Framework.Cqrs.Metadata
@model IAgentMetadata

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Agent Operations</title>
        <link href="@Url.Content("/Content/euclid-default-styles.css")" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        @Html.DisplayForModel("IAgentMetadata")
    </body>
</html>