<form class="form-horizontal" style="margin: 15px;">

<div class="control-group">
	<h3>Run {{SelectedPartType}}</h3>
</div>

<div class="control-group">
	<label class="control-label" for="input01">Property Name</label>

	<div class="controls">
		<input type="text" class="input-medium" id="input01">
	</div>

</div>

<div class="control-group">
	<label class="control-label" for="input02">Another Name</label>

	<div class="controls">
		<input type="text" class="input-medium" id="input02">
	</div>

</div>

<div class="control-group">
	<label class="control-label" for="input03">Third Name</label>

	<div class="controls">
		<input type="text" class="input-medium" id="input03">
	</div>

</div>

<div class="control-group">
	<label class="control-label" for="input04">Fourth Name</label>

	<div class="controls">
		<input type="text" class="input-medium" id="input04">
	</div>

</div>

<div class="control-group">
	<label class="control-label" for="input05">Fifth Property</label>

	<div class="controls">
		<input type="text" class="input-medium" id="input05">
	</div>

</div>

<div class="control-group">

	<div class="controls">
		<button class="btn btn-primary">Publish</button>
	</div>

</div>

</form>
