  <div class="sidebar">
    <div class="well">
        @RenderPage("~/partials/Badge.cshtml")       
    </div>
    <div class="well">
        @RenderPage("~/partials/Categories.cshtml")       
        @RenderPage("~/partials/Tags.cshtml")       
        @RenderPage("~/partials/TopUsers.cshtml")       
    </div>
  </div>