<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">{Forum Name}</a>
          <ul class="nav">
            <li class="active"><a href="Home.cshtml">Home</a></li>
            <li><a href="Categories.cshtml">Categories</a></li>
            <li><a href="Tags.cshtml">Tags</a></li>
            <li><a href="Info.cshtml">Info</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn primary" type="submit">Sign in</button> <button href="#" class="btn small">Register account</button>
          </form>
        </div>
      </div>
    </div>