<ul class="tabs">
	<li class="active"><a href="User.cshtml">Overview</a></li>
	<li><a href="UserRecentActivity.cshtml">Recent Activity</a></li>
	<li><a href="UserFavorites.cshtml">Favorites</a></li>
	<li><a href="UserBadges.cshtml">Badges</a></li>
	<li><a href="UserFriends.cshtml">Friends</a></li>
</ul>
