@{
	ViewBag.Title = "Comments";
}
<div class="DiscussionWrapper">
	<div class="Tabs HeadingTabs DiscussionTabs">
		<div class="SubTab">Weddings</div>
		<ul>
			<li><a href="/swiss/discussions">All Discussions</a></li>
		</ul>
	</div>

	<ul class="MessageList Discussion">

		<li class="Item Comment FirstComment" id="Discussion_48">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a title="oryalexander" href="/swiss/profile/41/oryalexander">
							<img src="https://secure.gravatar.com/avatar.php?gravatar_id=30e227e40e0bdcbaf52744348e900802&amp;default=http%3A%2F%2Fsalumguilher.me%2Fswiss%2Fplugins%2FGravatar%2Fdefault.gif&amp;size=40" alt="oryalexander" />
						</a>
						<a href="/swiss/profile/41/oryalexander">oryalexander</a>
					</span>
					<br />
					<span class="DateCreated">June 19 </span>
					<span class="Permalink"><a href="/swiss/discussion/48/weddings/p1" class="Permalink" name="Item_1" rel="nofollow">Permalink</a> </span>
					<div class="CommentInfo"></div>
				</div>
				<div class="Message">
					Let's talk about weddings and events!
				</div>
			</div>
		</li>
		<li class="Item Comment" id="Comment_72">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a title="oryalexander" href="/swiss/profile/41/oryalexander">
							<img src="https://secure.gravatar.com/avatar.php?gravatar_id=30e227e40e0bdcbaf52744348e900802&amp;default=http%3A%2F%2Fsalumguilher.me%2Fswiss%2Fplugins%2FGravatar%2Fdefault.gif&amp;size=40" alt="oryalexander" />
						</a>
						<a href="/swiss/profile/41/oryalexander">oryalexander</a>
					</span>
					<br />
					<span class="DateCreated">June 19 </span>
					<span class="Permalink"><a href="/swiss/discussion/48/weddings/p1" class="Permalink" name="Item_1" rel="nofollow">Permalink</a> </span>
					<div class="CommentInfo"></div>
				</div>
				<div class="Message">
					Let's talk about weddings and events!
				</div>
			</div>
		</li>
		<li class="Item Comment" id="Comment_73">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a title="oryalexander" href="/swiss/profile/41/oryalexander">
							<img src="https://secure.gravatar.com/avatar.php?gravatar_id=30e227e40e0bdcbaf52744348e900802&amp;default=http%3A%2F%2Fsalumguilher.me%2Fswiss%2Fplugins%2FGravatar%2Fdefault.gif&amp;size=40" alt="oryalexander" />
						</a>
						<a href="/swiss/profile/41/oryalexander">oryalexander</a>
					</span>
					<br />
					<span class="DateCreated">June 19 </span>
					<span class="Permalink"><a href="/swiss/discussion/48/weddings/p1" class="Permalink" name="Item_1" rel="nofollow">Permalink</a> </span>
					<div class="CommentInfo"></div>
				</div>
				<div class="Message">
					Let's talk about weddings and events!
				</div>
			</div>
		</li>
		<li class="Item Comment" id="Comment_74">
			<div class="Comment">
				<div class="Meta">
					<span class="Author">
						<a title="oryalexander" href="/swiss/profile/41/oryalexander">
							<img src="https://secure.gravatar.com/avatar.php?gravatar_id=30e227e40e0bdcbaf52744348e900802&amp;default=http%3A%2F%2Fsalumguilher.me%2Fswiss%2Fplugins%2FGravatar%2Fdefault.gif&amp;size=40" alt="oryalexander" />
						</a>
						<a href="/swiss/profile/41/oryalexander">oryalexander</a>
					</span>
					<br />
					<span class="DateCreated">June 19 </span>
					<span class="Permalink"><a href="/swiss/discussion/48/weddings/p1" class="Permalink" name="Item_1" rel="nofollow">Permalink</a> </span>
					<div class="CommentInfo"></div>
				</div>
				<div class="Message">
					Let's talk about weddings and events!
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="Foot">
	<a href="#reply" class="TabLink SignInPopup">Add a Comment</a>
</div>