@{
	ViewBag.Title = "Moderate Comments";
	ViewBag.ModerationType = "Comment";
}

<div class="article-container">
	<header>
		<h2>@ViewBag.Title</h2>
	</header>

	@{Html.RenderPartial("_ModeratorPanel");}

</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}