@{
	ViewBag.Title = "Moderate Posts & Comments";
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
		@{ Html.RenderPartial("_ModeratorPanel"); }
	</article>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}