
<ul>
  <li><a href="/" title="" class="dashboard no-submenu">Dashboard</a></li>
  <!-- Use class .no-submenu to open link instead of a sub menu-->
  <!-- Use class .current to open submenu on page load -->
  <li><a href="" title="" class="articles">Agents</a>
    <ul>
      <li><a href="#">Installed Agents</a></li>
      <li><a href="#">Configuration</a></li>
      <li><a href="#">Agent Gallery</a></li>
    </ul>
  </li>
  <li><a href="" title="" class="gallery">Commands</a><span title="There are 23 new log entries">23</span>
    <ul>
      <li><a href="#">Command Registry</a></li>
      <li><a href="#">Interactive Console</a></li>
      <li><a href="#">Log</a></li>
    </ul>
  </li>
  <li><a href="" title="" class="gallery">Events</a><span title="There are 47 new log entries">47</span>
    <ul>
      <li><a href="#">Event Registry</a></li>
      <li><a href="#">Interactive Console</a></li>
      <li><a href="#">Log</a></li>
    </ul>	
  </li>
  <li class="current"><a href="" title="" class="settings no-submenu">Setup</a></li>
</ul>