@using Euclid.Framework.Models
@using MetadataComposite.Areas.Metadata.Models
@model IInputModel

<h1>@this.ViewBag.Title</h1>

@using (this.Html.BeginForm())
{
	@this.Html.ValidationSummary(true)

	<fieldset>
		@this.Html.EditorFor(p => this.Model)
	</fieldset>

	<input type="submit" value="Publish Command" />
}

@{
	var footer = (FooterLinkModel)this.ViewBag.Navigation;
	this.Html.RenderPartial("MetadataLinks", footer);

}