<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{Forum Name} - Controversial Posts</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/jqcloud.css">
    <link rel="stylesheet" href="styles/custom.css">

    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="scripts/bootstrap-alerts.js"></script>
    <script src="scripts/bootstrap-buttons.js"></script>
    <script src="scripts/bootstrap-modal.js"></script>
    <script src="scripts/jqcloud-0.2.8.js"></script>
        
    <script>
        var tag_cloud = [
            {text: "Tag", weight: 1, url: "#tag"},
            {text: "Another Tag", weight: 2, url: "#another-tag"},
            {text: "Green", weight: 3, url: "#green"},
            {text: "Favorites", weight: 4, url: "#favorites"},
            {text: "Cars", weight: 6, url: "#cars"},
            {text: "Arbitrary", weight: 4, url: "#favorites"},
            {text: "Bars", weight: 6, url: "#cars"},
            {text: "Hoaxes", weight: 5, url: "#hoaxes"},
            {text: "Bats", weight: 6, url: "#cars"},
            {text: "Marathon", weight: 2, url: "#another-tag"},
            {text: "Jokes", weight: 7, url: "#jokes"},
        ];    

        $(document).ready(function() {
            $(".alert-message").alert();
            
            $("#tagCloud").jQCloud(tag_cloud);
        });
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">{Forum Name}</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">Categories</a></li>
            <li><a href="#about">Tags</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn primary" type="submit">Sign in</button> <button href="#" class="btn small">Register account</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
            <div class="row">
                <div class="span1 badge-avatar">
                     <img src="https://secure.gravatar.com/avatar/4ff80c3ba10af1c3a5d86f293003cc99?s=50"/> 
                </div>
                <div class="span2 badge-labels">
                    <h3 class="badge-username">{Username}</h3>
                    <p class="badge-points">25 points</p>
                </div>
            </div>                      
        </div>
        <div class="well">
          <h3>Categories</h3>
          <ul>
            <li><a href="#"><strong>All Categories</strong></a> (70)</li>
            <li><a href="#">Category</a> (10)</li>
            <li><a href="#">Another Category</a> (10)</li>
            <li><a href="#">Creative Category</a> (10)</li>
            <li><a href="#">Unmoderated Forum</a> (10)</li>
            <li><a href="#">Placeholder Category</a> (10)</li>
            <li><a href="#">Example Category</a> (10)</li>
          </ul>
          <h3>Tags</h3>
          <div id="tagCloud" style="height: 175px; width: 150px; position: relative;"></div>
        </div>
      </div>
      <div class="content">
        
        <ul class="tabs">
            <li><a href="Home.cshtml">Popular Posts</a></li>
            <li class="active"><a href="ControversialPosts.cshtml">Controversial Posts</a></li>
            <li><a href="AllPosts.cshtml">All Posts</a></li>
        </ul>

        <!-- controversial posts -->

        <div class="row">
            <div class="span8">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Most Controversial Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. Etiam porta sem malesuada magna mollis euismod. 
                &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Placeholder Category</span></span></p>
                <div class="row">
                    <div class="span4"><a class="btn" href="#">Add comment &raquo;</a></div>
                    <div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span8">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. Etiam porta sem malesuada magna mollis euismod. 
                &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Another Category</span></p>
                <div class="row">
                    <div class="span4"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>         
        </div>

        <hr>
            
        <div class="row">
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Example Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Creative Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Unmoderated Forum</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>          
            
        </div>
            
        <hr>            
            
        <div class="row">
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Example Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Creative Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Unmoderated Forum</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>
            <div class="span4">
                <div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; float: right; clear: left;">
                    <img src="images/thumb-up.png"/><br/>
                    <img src="images/thumb-down.png"/><br/>
                    <img src="images/icon_notification_attention.png"/><br/>
                </div>    
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere. 
                    &mdash; <span style="text-align: right; font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <span class="label">Category</span></p>
                <div class="row">
                    <div class="span2"><a class="btn small" href="#">Add comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;"><a href="#">999 comments</a></div>
                </div>                
            </div>          
            
        </div>
            
        <hr>

        <div class="pagination">
            <ul>
                <li class="prev disabled"><a href="#">&larr; Previous</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="#">45</a></li>
                <li><a href="#">46</a></li>
                <li><a href="#">47</a></li>
                <li class="next"><a href="#">Next &rarr;</a></li>
            </ul>
        </div>
            
        <footer>
          <p>&copy; Newco 2011-12</p>
        </footer>
      </div>
    </div>

  </body>
</html>