<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{Forum Name} Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    
    .badge-labels
    {
        vertical-align: top;
    }
    
    .badge-username
    {
        line-height: 25px;
    }
    
    .alert-actions
    {
        margin-top: 15px !important;
    }
    </style>
        
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="scripts/bootstrap-alerts.js"></script>
    <script src="scripts/bootstrap-buttons.js"></script>
    <script src="scripts/bootstrap-modal.js"></script>
        
    <script>
        $(document).ready(function() {
            $(".alert-message").alert()
        });
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">{Forum Name}</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">Categories</a></li>
            <li><a href="#about">Search</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
            <div class="row">
                <div class="span1 badge-avatar">
                     <img src="https://secure.gravatar.com/avatar/4ff80c3ba10af1c3a5d86f293003cc99?s=50"/> 
                </div>
                <div class="span2 badge-labels">
                    <h3 class="badge-username">{Username}</h3>
                    <p class="badge-points">25 points</p>
                </div>
            </div>                      
        </div>
        <div class="well">
          <h2>Categories</h2>
          <ul>
            <li><a href="#">Category</a></li>
            <li><a href="#">Another Category</a></li>
            <li><a href="#">Creative Category</a></li>
            <li><a href="#">Unmoderated Forum</a></li>
            <li><a href="#">Placeholder Category</a></li>
            <li><a href="#">Example Category</a></li>
          </ul>
          <h2>Tags</h2>
          <p><small>(Tag cloud here.)</small></p>
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        
        <div class="alert-message block-message warning fade in" data-alert="alert">
          <a class="close" href="#">×</a>
          <p class="alert-message-text"><h2>Hello, world!</h2> This is something a user only needs to see occasionally and can be closed. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <div class="alert-actions">
            <a class="btn medium primary" href="#">Go register!</a>
          </div>
        </div>
        
        <div>
          <p><small>(Sorting, etc. controls here.)</small></p>
        </div>

        <!-- top posts -->
        <div class="row">
            <div class="span6">
                <h2>{Post Title}</h2>           
                <p>This is a listing of the top 6 posts across all forums. This post is the top overall, and they decrease left to right. Lower ranked posts display shorter text excerpts. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                <div class="row">
                    <div class="span3"><a class="btn primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span3" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>                
            </div>
            <div class="span5">
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <div class="row">
                    <div class="span3"><a class="btn primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>  
            </div>
            <div class="span5">
                <h2>{Post Title}</h2>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <div class="row">
                    <div class="span3"><a class="btn primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>  
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="span6">
                <h3>{Post Title}</h3>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <div class="row">
                    <div class="span3"><a class="btn small primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span3" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>                
            </div>
            <div class="span5">
                <h3>{Post Title}</h3>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <div class="row">
                    <div class="span3"><a class="btn small primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>  
            </div>
            <div class="span5">
                <h3>{Post Title}</h3>           
                <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <div class="row">
                    <div class="span3"><a class="btn small primary" href="#">Post Comment &raquo;</a></div>
                    <div class="span2" style="padding-top: 7px; text-align: right;"><a href="#">View Comments</a></div>
                </div>  
            </div>
        </div>

        <footer>
          <p>&copy; Newco 2011-12</p>
        </footer>
      </div>
    </div>

  </body>
</html>