<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{Forum Name} - {Post Name}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		@RenderPage("~/partials/shared/Styles.cshtml")
		@RenderPage("~/partials/shared/Scripts.cshtml")

	</head>

	<body>

		@RenderPage("~/partials/TopBar.cshtml")

		<div class="container-fluid">
        
			@RenderPage("~/partials/Sidebar.cshtml")
        
			<div class="content">
        
				<h1>{Post Name}</h1>
        
				<ul class="breadcrumb">
					<li><a href="AllPosts.cshtml">All Posts</a> <span class="divider">/</span></li>
					<li><a href="Category.cshtml">{Category}</a> <span class="divider">/</span></li>
					<li class="active">{Post Name}</li>
				</ul>
        
				<hr />
        
				<p><small>(Post info goes here.)</small></p>
            
				<footer>
					<p>&copy; Newco 2011-12</p>
				</footer>
			</div>
		</div>

	</body>
</html>