<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{Forum Name} - {Tag Name}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
		<![endif]-->

		<link rel="stylesheet" href="styles/bootstrap.css">
		<link rel="stylesheet" href="styles/jqcloud.css">
		<link rel="stylesheet" href="styles/custom.css">

		<script src="http://code.jquery.com/jquery-1.5.2.min.js"> </script>
		<script src="scripts/bootstrap-alerts.js"> </script>
		<script src="scripts/bootstrap-buttons.js"> </script>
		<script src="scripts/bootstrap-modal.js"> </script>
		<script src="scripts/jqcloud-0.2.8.js"> </script>
        
		<script>
        var tag_cloud = [
        	{ text: "Tag", weight: 1, url: "Tag.cshtml#tag" },
        	{ text: "Another Tag", weight: 2, url: "Tag.cshtml#another-tag" },
        	{ text: "Green", weight: 3, url: "Tag.cshtml#green" },
        	{ text: "Favorites", weight: 4, url: "Tag.cshtml#favorites" },
        	{ text: "Cars", weight: 6, url: "Tag.cshtml#cars" },
        	{ text: "Arbitrary", weight: 4, url: "Tag.cshtml#favorites" },
        	{ text: "Bars", weight: 6, url: "Tag.cshtml#bars" },
        	{ text: "Hoaxes", weight: 5, url: "Tag.cshtml#hoaxes" },
        	{ text: "Bats", weight: 6, url: "Tag.cshtml#cars" },
        	{ text: "Marathon", weight: 2, url: "Tag.cshtml#another-tag" },
        	{ text: "Jokes", weight: 7, url: "Tag.cshtml#jokes" },
        ];

        $(document).ready(function() {
        	$(".alert-message").alert();

        	$("#tagCloud").jQCloud(tag_cloud);
        });
    </script>
	</head>

	<body>

		@RenderPage("~/partials/TopBar.cshtml")

		<div class="container-fluid">
        
			@RenderPage("~/partials/Sidebar.cshtml")
        
			<div class="content">
        
				<h1>{Tag Name}</h1>
        
				<ul class="breadcrumb">
					<li><a href="Tags.cshtml">Tags</a> <span class="divider">/</span></li>
					<li class="active">{Tag Name}</li>
				</ul>
        
				<hr />
        
				<p><small>(Tag info here.)</small></p>
            
				<footer>
					<p>&copy; Newco 2011-12</p>
				</footer>
			</div>
		</div>

	</body>
</html>