@model object

<script type="text/javascript">
	$(document).ready(function () {
		$("#add-user").click(function () {
			$("<div></div>")
				.load("/Organization/GetUser")
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto",  height: 385, width: 635 },
					containerCss: { height: 400, width: 650 }
				});

			return false;
		});

		$("#organization-details .organization-detail").each(function (index, item) {
			var inputClass = $(item).attr("id") == "organization-name" ? "organization-name-form" : "";
			$(item).editable(function (value, settings) {
				console.log($(this).attr("id") + ".value = " + value);

				return value;
			}, {
				cssclass: inputClass
			});
		});

		$(".edit.user").click(function () {
			var organizationId = "11111111-1111-1111-1111-111111111111";
			$("<div></div>")
				.load("/Organization/GetUser?organizationId=" + organizationId + "&userId=" + $(this).attr("data-user-id"))
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
					containerCss: { height: 400, width: 650 }
				});

		});
	});

	function deleteUser(userId) {
		alert("deleteing user: " + userId);
	}
</script>

<style>

.jeditable button {
	 border: 1px solid #dddddd; 
	 background: #f6f6f6; 
	 font-weight: bold; 
	 color: #38385c;
	 margin-left:5px;
	 margin-right:5px;
}

.organization-name-form
{
	height:10px;
}

.organization-name-form input
{
	position:relative;
	top: -30px;
}

section 
{
	margin-bottom:25px;
}
</style>

<section id="organization-details">
	<article>
		<header>
			<h2 id="organization-name" class="organization-detail" rel="tooltip" original-title="Click to edit">Organization Name</h2>
		</header>
	</article>

	<div>
		<span id="organization-url" class="organization-detail" rel="tooltip" original-title="Click to edit">Website</span> 
		<span class="note">(<a href="#" target="_new">launch in new window</a>)</span>
	</div>
		
	<div><span id="organization-phone" class="organization-detail" rel="tooltip" original-title="Click to edit">Phone Number</span></div>

	<div><span id="organization-address-1" class="organization-detail" rel="tooltip" original-title="Click to edit">Address</span></div>

	<div><span id="organization-address-2" class="organization-detail" rel="tooltip" original-title="Click to edit">Address 2</span></div>

	<div><span id="organization-city" class="organization-detail" rel="tooltip" original-title="Click to edit">City</span></div>

	<div><span id="organization-state" class="organization-detail" rel="tooltip" original-title="Click to edit">State/Region</span></div>

	<div><span id="organization-zip" class="organization-detail" rel="tooltip" original-title="Click to edit">Zip/Postal Code</span></div>

</section>

<article>
	<header>
		<h2>Administrators</h2>
	</header>
</article>

<section>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Last Login</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>(You) Theodore Donald "Donny" Kerabtsos</td>
				<td>donny@letsgobowling.com</td>
				<td>Moments ago</td>
				<td>
					<ul class="actions">
						<li><a class="edit user" rel="tooltip" href="#" original-title="Edit" data-user-name="Theodore Donald &quot;Donny&quot; Kerabtsos" data-user-id="22222222-2222-2222-2222-222222222222">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Walter Sobchak</td>
				<td>walter@letsgobowling.com</td>
				<td>Moments ago</td>
				<td>
					<ul class="actions">
						<li><a class="edit user" rel="tooltip" href="#" original-title="Edit" data-user-name="Walter Sobchak" data-user-id="33333333-3333-3333-3333-333333333333">Edit</a></li>
						<li><a class="admin-delete" href="#" rel="tooltip" original-title="Delete Walter Sobchak" data-confirmation-message="Really delete Walter Sobchak?" data-confirm-function="deleteUser" data-item-id="33333333-3333-3333-3333-333333333333">Delete</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="#" id="add-user" value="Add User" style="float:right">Add User</a>
</section>

@{Html.RenderPartial("_MyForums");}

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}