@model object

<section>
	<form action="#">
		<fieldset>
			<legend>New Category</legend>
			
			<dl>
				<dt><label for="category-name">Name</label></dt>
				<dd><input type="text" id="category-name" /></dd>

				<dt><label for="category-description">Description</label></dt>
				<dd><textarea id="category-description" cols="60" rows="10"></textarea></dd>
			</dl>
		</fieldset>
		<button type="submit">Save</button>
	</form>
</section>