@model object

<section>
	<fieldset>
		<legend style="display:none"></legend>
			
		<dl>
			<dt><label for="category-name">Name</label></dt>
			<dd><input type="text" id="category-name" /></dd>

			<dt><label for="category-description">Description</label></dt>
			<dd><textarea id="category-name" cols="60" rows="10"></textarea></dd>
		</dl>

		<input type="button" class="button" value="Save" style="float:right" />
	</fieldset>
</section>