@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model UpdateCategoryInputModel

<section>
	@using (Html.BeginFormForInputModel(Model))
	{
		@Html.HiddenFor(m => m.CategoryIdentifier);
		<fieldset>
			<legend>New Category</legend>
		
			<dl>
				<dt><label for="category-name">Name</label></dt>
				<dd>@Html.TextBoxFor(m=>m.Name, new {id="category-name"})</dd>

				<dt><label for="category-name">Slug</label></dt>
				<dd>@Html.TextBoxFor(m => m.Slug, new { id = "category-slug" })</dd>

				<dt class="checkbox"><label for="category-active">Active</label></dt>
				<dd>@Html.CheckBoxFor(m => m.Active, new { id = "category-active" })</dd>
			</dl>
		</fieldset>
		<button type="submit">Save</button>
	}
</section>