<script type="text/javascript">
	$(document).ready(function () {
		$("#create-category").click(function() {
			$("<div></div>")
			.load("/Forum//NewCategory")
			.dialog({
				modal: true,
				title: "New Category",
				width: 650,
				height: 500
			});
		});
	});
</script>

<article>
	<header>
		<h2>Manage Forum Categories</h2>
	</header>
	<p>Lorem ipsum dolor sit consecutator amet. </p>
	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 1</td>
				<td>
					<ul class="actions">
						<li><a href="#" class="edit" rel="tooltip" original-title="Edit Category">edit category</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 2</td>
				<td>
					<ul class="actions">
						<li><a href="#" class="edit" rel="tooltip" original-title="Edit Category">edit category</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 3</td>
				<td>
					<ul class="actions">
						<li><a href="#" class="edit" rel="tooltip" original-title="Edit Category">edit category</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 4</td>
				<td>
					<ul class="actions">
						<li><a href="#" class="edit" rel="tooltip" original-title="Edit Category">edit category</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="#" id="create-category" style="float: right">New Category</a>
</article>