@model object

<script type="text/javascript">
	$(document).ready(function() {
		$("#add-content").click(function() {
			$("<div></div>")
				.load("@Url.Action("NewContent", "Content", new {forumId = "11111111-1111-1111-1111-111111111111"})")
				.dialog({
						modal: true,
						title: "New Forum",
						width: 540,
						height: 600
					});

			return false;
		});
	});

</script>

<article>
	<header>
		<h2>Content for Forum</h2>
	</header>
</article>

<section>
	<table>
		<thead>
			<tr>
				<th>Location</th>
				<th>Type</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Home Page - Header</td>
				<td>Rich Text</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
						<li><a class="admin-delete" href="#" rel="tooltip" original-title="Delete">Delete</a></li>
						<li><a class="preview" href="#" rel="tooltip" original-title="Preview">Delete</a></li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Home Page - Content Area</td>
				<td>Embedded YouTube</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
						<li><a class="admin-delete" href="#" rel="tooltip" original-title="Delete">Delete</a></li>
						<li><a class="preview" href="#" rel="tooltip" original-title="Preview">Delete</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="#" id="add-content" style="float:right">Add Content</a>
</section>
