<script type="text/javascript">
	$(document).ready(function () {
	});
</script>


<style>
	#default-input-type
	{
		position: relative;
		top: 7px;
		font-weight:normal;
		width:100%;
		display: inline-block;
		background: #ccc;
		width:200px;
	}
</style>
<section>
	<form action="#">
		<fieldset>
			<legend>New Content for Forum</legend>
		
			<dl>
				<dt><label for="content-location">Location</label></dt>
				<dd>
					<select id="content-location">
						<option> -- Content Location -- </option>
						<option>Home - Header</option>
						<option>Home - Content Area</option>
						<option>User's Profile - Header</option>
						<option>Category - Content Area</option>
					</select>
				</dd>

				<dt><label for="content-type">Type</label></dt>
				<dd>
					<select id="content-type">
						<option> -- Content Type -- </option>
						<option value="richtext">Rich Text</option>
						<option value="url">Embedded Youtube</option>
						<option value="url">Embedded Vimeo</option>
						<option value="twittersearch">Embedded Twitter Search</option>
					</select>
				</dd>

				<dt><label for="content-input">Value</label></dt>
				<dd>
					<span id="content-specific-input" style="display:none"></span>
					<span id="default-input-type">select type</span>
				</dd>
			</dl>

			<button type="submit">Create</button>
		</fieldset>
	</form>
</section>