
<article>
	<header>
		<h2>New Content for Forum</h2>
	</header>
</article>

<section>
	<div style="float:left;margin-right:10px">
		<select style="width:250px">
			<option> -- Content Location -- </option>
			<option>Home - Header</option>
			<option>Home - Content Area</option>
			<option>User's Profile - Header</option>
			<option>Category - Content Area</option>
		</select>
	</div>

	<div style="float:right;margin-bottom:25px">
		<select style="width:250px">
			<option> -- Content Type -- </option>
			<option>Rich Text</option>
			<option>Embedded Youtube</option>
			<option>Embedded Vimeo</option>
			<option>Embedded Twitter Search</option>
		</select>
	</div>
	
	<div style="clear:both" />

	<div style="background-color: #D3D3D3;text-align:center;height:250px;padding-top:125px;border:1px dotted black">
		type specific input mechanism
	</div>

	<button type="submit">Save</button>
</section>