<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{Forum Name} - Forum Info</title>
		<meta name="description" content="">
		<meta name="author" content="">

		@RenderPage("~/Views/RoughDraft/partials/shared/Styles.cshtml")
		@RenderPage("~/Views/RoughDraft/partials/shared/Scripts.cshtml")

	</head>

	<body>

		@RenderPage("~/Views/RoughDraft/partials/TopBar.cshtml")

		<div class="container-fluid">
        
			@RenderPage("~/Views/RoughDraft/partials/Sidebar.cshtml")
        
			<div class="content">
        
				<h1>Forum Info</h1>
        
				<hr />
        
				<p><small>(Forum info here.)</small></p>
            
				<footer>
					<p>&copy; Newco 2011-12</p>
				</footer>
			</div>
		</div>

	</body>
</html>