@model object

<section>
	<p>Award the badge <input type="text" /></p>
</section>

<section>
	<input type="text" value="field"/>

	<select id="badge-trigger-operator">
		<option>&gt;</option>
		<option>&gt;=</option>
		<option>&lt;</option>
		<option>&lt;=</option>
		<option>==</option>
		<option>!=</option>
	</select>

	<input type="text" value="type specific input" />
</section>

<section>
	<button type="submit">Save</button>
</section>

