@model object


<section>
	<form action="#">
		<fieldset>
			<legend>New Badge</legend>

			<dl>
				<dt><label for="badge-name">Badge Name</label></dt>
				<dd><input type="text" id="badge-name"/></dd>

				<dt><label for="badge-field">Field</label></dt>
				<dd><input type="text" value="field"/></dd>

				<dt><label for="badge-trigger-operator">Operator</label></dt>
				<dd>
					<select id="badge-trigger-operator">
						<option>&gt;</option>
						<option>&gt;=</option>
						<option>&lt;</option>
						<option>&lt;=</option>
						<option>==</option>
						<option>!=</option>
					</select>
				</dd>

				<dt><label for="award-value">Value</label></dt>
				<dd><input type="text" id="award-value" value="type specific input" /></dd>

				<dt><label for="badge-description">Description</label></dt>
				<dd><textarea rows="10" cols="55" id="badge-description"></textarea></dd>
			</dl>
		</fieldset>

		<button type="submit">Save</button>
	</form>
</section>

