@model object
@{
	ViewBag.Title = "Custom Badges";
}
<script type="text/javascript">
	$(document).ready(function () {
		$("#create-badge").click(function () {
			$("<div></div>")
				.load("/Badge/NewBadge")
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto",  height: 235, width: 635 },
					containerCss: { height: 250, width: 650 }
				});

			return false;
		});
	});
</script>
<article>
	<header>
		<h2>Manage Forum Badges</h2>
	</header>
	<p>Setting a forum to active means it will be awarded to users when the trigger threshold is satisfied.</p>
	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Trigger</th>
				<th>Image</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Lifetime Achievement Award</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Key Contributor</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>I've Got Something to Say</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Conversation Starter</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Well Received Post</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>The Never Ending Thread</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td>
					<ul class="actions">
						<li><a class="edit" rel="tooltip" href="#" original-title="Edit">Edit</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="#" style="float:right" id="create-badge">Add Badge</a>
</article>
@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
