@model object
@{
	ViewBag.Title = "Custom Badges";
}
<script type="text/javascript">
	$(document).ready(function () {
		$("#create-badge").click(function () {
			$("#custom-badge-tab").click();

			$("<div></div>")
				.load("/Badge/NewBadge")
				.dialog({
					modal: true,
					title: "New Badge",
					width: 650,
					height: 250
				});
		});
	});
</script>
<article>
	<header>
		<h2>Badges</h2>
		<input type="button" id="create-badge" class="button" value="New Badge" style="float: right" />
	</header>
	<p>Lorem ipsum dolor sit consecutator amet. </p>
	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Trigger</th>
				<th>Image</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Lifetime Achievement Award</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Key Contributor</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>I've Got Something to Say</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Conversation Starter</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Well Received Post</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>The Never Ending Thread</td>
				<td>Total Points greater than 100</td>
				<td>(image)</td>
				<td><a href="#">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<p>
		<button>Save</button>
	</p>
</article>
@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
