@model object
<script type="text/javascript">
	$(document).ready(function () {
		$("#forum-name").focus();
	});
</script>

<dl>
	<dt><label for="forum-name">Name</label></dt>
	<dd><input type="text" id="forum-name"/></dd>

	<dt><label for="forum-slug">Slug</label></dt>
	<dd>
		<input type="text" id="forum-slug"/>
		<p><a href="#" id="generate-slug">generate slug</a></p>
	</dd>

	<dt><label for="forum-host">Host</label></dt>
	<dd>
		<input type="text" id="forum-host" value="socialrally.com" readonly="readonly"/>
		<p>Forum url: <b><span id="forum-url">http//socialrally.com/{organization-name}/forums/{forum-name}</span></b></p>
	</dd>

	<dt><label>Description</label></dt>
	<dd>
		<textarea rows="10" cols="65" class="wysiwyg"> </textarea>
	</dd>
</dl>
