@model object
<script type="text/javascript">
	$(document).ready(function () {
		$("#forum-name").focus();
	});
</script>
<form>

<div class="input-container">
	<label>Name</label>
	<br />
	<input type="text" id="forum-name" />
</div>

<div class="input-container">
	<label>Slug</label>
	<br />
	<input type="text" id="forum-slug" />
	<a href="#" id="generate-slug">generate slug</a>
</div>

<div class="input-container">
	<label>Host</label>
	<br />
	<input type="text" id="forum-host" value="socialrally.com" />
	<p>Forum url: <b><span id="forum-url">http//socialrally.com/{organization-name}/forums/{forum-name}</span></b></p>
</div>

<div class="input-container">
	<label>Description</label>
	<br />
	<textarea rows="10" cols="65"></textarea>
</div>

<div class="input-container">
	<fieldset><legend>Voting</legend>
		<dl>
			<dt class="radio">
				<label>None</label></dt>
			<dd>
				<input type="radio" name="voting" value="00000000-0000-0000-0000-000000000000" /></dd>
			<dt class="radio">
				<label>Up/Down</label></dt>
			<dd>
				<input type="radio" name="voting" value="00000000-0000-0000-0000-000000000000" /></dd>
		</dl>
	</fieldset>
</div>

<div class="input-container">
	<fieldset><legend>Categories</legend>

		<div>
			<a href="#">Category 1</a> <a href="#">Category 1</a> <a href="#">Category 1</a>
		</div>

		<input type="text" /><input type="button" class="button" value="Select" />
	</fieldset>
</div>

<div class="input-container">

	<div style="float: left">
		<select id="theme-selector">
			<option>-- Select Theme --</option>
			<option value="58B560E0-EFE6-400C-A882-A7A4B18C4FCC">default</option>
			<option value="794B96E8-83C9-4F2F-A02A-45E8BCF1D765">theme 2</option>
		</select>
	</div>

	<div style="width: 250px; height: 200px; border: solid black 1px; background-color: #cccccc;
		float: left; margin-left: 25px">
		<span style="font-style: italic; margin-left: 80px" id="unselected-preview">
			<br />
			<br />
			<br />
			<br />
			<br />
			preview image </span>
		<img id="theme-preview" alt="theme-preview" src="#" style="display: none" />
	</div>

</div>

</form>
