@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model CreateForumInputModel

<section id="forum-form-section">
	@using (Html.BeginFormForInputModel(Model, true, Url.Action("List")))
	{
		<fieldset>
			<legend>Settings</legend>
			
			@{Html.RenderPartial("_ForumDetails");}
		</fieldset>
	 
		@Html.HiddenFor(m => m.UrlSlug, new { id = "forum-slug" })
		@:<button type="submit">Create Forum</button>
	}
</section>