@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model CreateForumInputModel

<article>
	<header>
		<h2>Create Forum</h2>
	</header>
</article>

<section id="forum-form-section">
	@using (Html.BeginFormForInputModel(Model, true, Url.Action("List")))
	{
		<fieldset>
			<legend>Settings</legend>
			
			@{Html.RenderPartial("_ForumDetails");}
		</fieldset>
	 
		@Html.HiddenFor(m => m.UrlSlug, new { id = "forum-slug" })
		
		<input type="submit" class="button" style="float:right" value="Create Forum" />
	}
</section>