
D:\Projects\Euclid\platform>@git.exe %*
﻿@using Euclid.SDK.TestingFakes.Composites.InputModel
@model FakeInputModel

@{
    Layout = null;
}

<div>
    <strong>@ViewBag.CommandName</strong>
</div>
D:\Projects\Euclid\platform>@set ErrorLevel=%ErrorLevel%

D:\Projects\Euclid\platform>@rem Restore the original console codepage.

D:\Projects\Euclid\platform>@chcp %cp_oem% > nul < nul
