@using Euclid.Composites.Mvc.Models
@model IEnumerable<CommandMetadataModel>

<div class="model-header">@ViewBag.Title</div>

<ul>
    <li>
        @Model.ElementAt(0).AgentMetadata.CommandNamespace
        <ul>
        @foreach (var m in Model)
        {
            var agentMetadata = m.AgentMetadata;
            <li>
                <a href="@Url.Action("Inspect", "Command", new { scheme = agentMetadata.Scheme, systemName = agentMetadata.SystemName, command = m.CommandMetadata.Name })">
                   @m.CommandMetadata.Name
                </a>
            </li>
        }
        </ul>
    </li>
</ul>
