@{
	ViewBag.Title = "Invite Users";
}

<script type="text/javascript">
	$(document).ready(function() {
		$("#forum-select").multiselect();
	});
</script>

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
	</article>
	<section>
		<div class="input-container">
			<label for="forum-select">Select Forum(s)</label>
			<br/>
			<select id="forum-select" multiple="multiple">
				<option>Forum 1</option>
				<option>Forum 2</option>
				<option>Forum 3</option>
			</select>
		</div>

		<div class="input-container">
			<label for="email-addresses">Email Addresses</label>
			<p class="note">
				Enter 1 email address per line to invite users to the selected forum
			</p>
			<br/>
			<textarea rows="35" cols="75" id="email-addresses"></textarea>
		</div>

		<input type="button" class="button" value="Invite Users"/>
	</section>
	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et <a href="#">
																																							 	dignissim metus</a>. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat
			est suscipit sagittis.</p>
	</footer>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}