@{
	ViewBag.Title = "Manage Forum Users";
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
		<p>
			Lorem ipsum dolor sit consecutator amet.
		</p>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th># Posts</th>
					<th># Votes</th>
					<th>Last Login</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Jeff Dowd</td>
					<td>thedude</td>
					<td>7</td>
					<td>3</td>
					<td>11/01/11</td>
					<td><a href="#">Reset vote count</a> | <a href="#">Block</a> </td>
				</tr>
				<tr>
					<td>Peter Exline</td>
					<td>thestranger</td>
					<td>898</td>
					<td>7</td>
					<td>10/01/11</td>
					<td><a href="#">Reset vote count</a> | <a href="#">Block</a> </td>
				</tr>
				<tr>
					<td>Walter Hill</td>
					<td>larry</td>
					<td>15</td>
					<td>7</td>
					<td>09/01/11</td>
					<td><a href="#">Reset vote count</a> | <a href="#">Block</a> </td>
				</tr>
			</tbody>
		</table>
	</article>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
