@{
	ViewBag.Title = "Signin to the admin";
}

<script type="text/javascript">

	$(document).ready(function() {
		$("#signin").click(function() {
			window.location.href = "@Url.Action("Index", "Dashboard")";

			return false;
		});
	});
</script>


<section>
	<form action="#">
		<fieldset>
			<legend>Sign in</legend>
			<dl>
				<dt><label>Username</label></dt>
				<dd><input type="text" /></dd>

				<dt><label>Password</label></dt>
				<dd><input type="text" /></dd>
			</dl>
		</fieldset>

		<input type="button" id="signin" value="Sign in" />
	</form>
</section>

@section LeftRail {
	@{Html.RenderPartial("LeftRail/_AnonymousUserNavigation");}
}
