@{
	ViewBag.Title = "Logged out";
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

@section mainNav {
	@{ Html.RenderPartial("LeftRail/_AnonymousUserNavigation"); }
}

<article>
	<header>
		<h2>You have been signed out of the forum admin</h2>
	</header>
</article>