@using CompositeInspector.Models
@using Euclid.Framework.Models
@model IInputModel

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Publish", "Agents", FormMethod.Post))
{
	@Html.ValidationSummary(true)

	<fieldset>
		@Html.EditorFor(p => Model)
	</fieldset>

	<input type="submit" id="publish-command" value="Publish Command" />
}

@{
	var footer = (InspectorNavigationModel)ViewBag.Navigation;
	Html.RenderPartial("CompositeInspectorLinks", footer);
}