@using Euclid.Framework.Models
@model IInputModel
<h5>Publish a Command</h5>
@using (Html.BeginForm("PublishAndViewDetails", "Agents", FormMethod.Post, new { @class = "form-stacked" }))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>@ViewBag.Title</legend>
		@Html.EditorFor(p => Model)
	</fieldset>

	<div class="actions">
		<input type="submit" class="btn primary" id="publish-command" value="Publish Command" />
	</div>
}