@using CompositeInspector.Models
@using Euclid.Framework.Models
@model IInputModel

<h5>@ViewBag.Title</h5>

@using (Html.BeginForm("PublishAndViewDetails", "Agents", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.EditorFor(p => Model)
    </fieldset>

    <input type="submit" id="publish-command" value="Publish Command" />
}