@using Euclid.Composites.Mvc.Extensions
@model ForumComposite.Models.RegisterForumUserInputModel
<div class="modal hide fade" style="display: none;" id="registration-modal">
	@using (Html.BeginFormForInputModel(Model, true, Url.RouteUrl("Home")))
	{
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>Register for {Forum Name}</h3>
		</div>

		<div class="modal-body">

			<div class="clearfix">
				<label for="username">Name</label>

				<div class="input">
					<input class="large" name="username" size="30" type="text" value="username" />
				</div>

			</div>

			<div class="clearfix">
				<label for="username">Username</label>

				<div class="input">
					<input class="large" name="username" size="30" type="text" value="username" />
				</div>

			</div>

			<div class="clearfix">
				<label for="email">Email</label>

				<div class="input">
					<input class="large" name="email" size="30" type="text" value="account@emailprovider.com" />
				</div>

			</div>

			<div class="clearfix">
				<label for="password">Password</label>

				<div class="input">
					<input class="large" name="password" size="30" type="password" value="secret" />
				</div>

			</div>

			<div class="clearfix">
				<label for="password">Confirm Password</label>

				<div class="input">
					<input class="large" name="password" size="30" type="password" value="secret" />
				</div>

			</div>

		</div>

		<div class="modal-footer">
			<button class="btn primary">Complete Registration</button>
			<a href="#" class="btn secondary">Cancel</a>
		</div>
	}
</div>