@{
	Layout = "Shared/_Layout.cshtml";
}
	
@if (false)
{ 
	// this will not get compiled by the razor view engine, but gives us access to intellisense for the EUCLID js library
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript">
	$(document).ready(function () {
		pageInit();
	});

	function pageInit() {
		WorkWithDataFromUrl("/composite/api",
			function (data) {
				Using(data).Fill("#composite").With("/composite/ui/template/composite");
				Using(data).Fill("#queries").With("/composite/ui/template/queries");
				Using(data).Fill("#input-models").With("/composite/ui/template/input-models");
				Using(data).Fill("#agents").With("/composite/ui/template/agents");
			});
	}
</script>

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Composite Inspector</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">Composite Details</a></li>
					<li><a href="/composite/command-registry">Command Registry</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12" id="composite"></div>
</div>

<div class="row">
	<div class="span4" id="queries"></div>

	<div class="span4" id="input-models"></div>

	<div class="span4" id="agents"></div>
</div>
