@{
	Layout = "Shared/_Layout.cshtml";
}
	
@if (false)
{ 
	// this will not get compiled by the razor view engine, but gives us access to intellisense for the EUCLID js library
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript">
	$(document).ready(function () {
		pageInit();
	});

	function pageInit() {
		WorkWithDataFromUrl("/composite/api",
			function (data) {
				Using(data).Fill("#composite").With("/composite/ui/template/composite");
				Using(data).Fill("#queries").With("/composite/ui/template/queries");
				Using(data).Fill("#input-models").With("/composite/ui/template/input-models");
				Using(data).Fill("#agents").With("/composite/ui/template/agents");
			});
	}
</script>

<div class="row">
	<div class="span16" id="composite"></div>
</div>

<div class="row">
	<div class="span4" id="queries"></div>

	<div class="span4" id="input-models"></div>

	<div class="span4" id="agents"></div>
</div>
