@{
	Layout = "Shared/_Layout.cshtml";
}
	
@if (false)
{ 
	// this will not get compiled by the razor view engine, but gives us access to intellisense for the EUCLID js library
	<script type="text/javascript" src="../../Assets/Scripts/euclid-0.9.js"></script>
}

<script type="text/javascript">
	$(document).ready(function () {
		var agentSystemName = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
		WorkWithDataFromUrl("/composite/api/agent/" + agentSystemName,
			function (data) {
				Using(data).Fill("#agent").With("/composite/ui/template/agent");
				Using(data).Fill("#commands").With("/composite/ui/template/commands");
				Using(data).Fill("#queries").With("/composite/ui/template/queries");
				Using(data).Fill("#read-models").With("/composite/ui/template/read-models");
			}
		);

		WorkWithDataFromUrl("/composite/api",
			function (data) {
				Using(data).Fill("#composite").With("/composite/ui/template/composite-link"); ;
			}
		);
	});
</script>

<div class="row">
	<div class="span16" id="agent"></div>
</div>

<div class="row">
	<div class="span3" id="commands"></div>

	<div class="span3" id="queries"></div>

	<div class="span3" id="read-models"></div>

	<div class="span3" id="composite"></div>
</div>
