@{
	Layout = "Shared/_Layout.cshtml";
}
@if (false)
{
	// this will not get compiled by the razor view engine, but gives us access to intellisense for the EUCLID js library
	<script type="text/javascript" src="../Assets/Scripts/euclid-0.9.js"></script>
}
<script type="text/javascript">
	var RECORDS_PER_PAGE = 10;
	$(document).ready(function () {
		// getRecords(1);

		$(".page").click(function () {
			var pageNumber = $(this).attr("data-page-number");
			getRecords(pageNumber);

			return false;
		});

		$("#page-number").blur(function () {
			findPageNumber();
			return false;
		});


		$("#page-number").keypress(function (e) {
			var code = (e.keyCode ? e.keyCode : e.which);
			if (code == 13) {
				findPageNumber();
				return false;
			}
		});

		$(document).on("click", ".publication-record-detail", function () {
			var id = $(this).attr("data-publication-identifier");
			WorkWithDataFromUrl("/composite/api/publicationRecord/" + id, function (record) {
				var alertClass = "alert-success";
				if (record.Error) {
					alertClass = "alert-error";
				} else if (!record.Dispatched) {
					alertClass = "alert-block";
				}

				Using({ class: alertClass, showErrorOnly: true, record: record })
					.Render("/composite/ui/template/modal/publication-record")
					.Manipulate(function (content) {
						var modal = $("<div id='content' class='modal'></div>");
						$(modal).append(content);
						$(modal).modal("show");
						$(modal).on("hidden", function () { $(modal).remove(); });
					});
			});
		});
	});

	function findPageNumber() {
		var pageNumber = $("#page-number").val();
		var currentPage = $("#page-number").attr("data-current-page");
		var maxPage = $("#page-number").attr("data-max-page");

		if (isNaN(pageNumber) || pageNumber == "") {
			$("#page-number").val(currentPage);
		} else {
			if (pageNumber <= 0 || pageNumber > maxPage) {
				$("#page-number").val(currentPage);
			} else {
				getRecords(pageNumber);
			}
		}
	}

	function getRecords(pageNumber) {
		var offset = (pageNumber - 1) * RECORDS_PER_PAGE;
		EUCLID.withQuery(
			"CommandRegistryQueries",
			function (query) {
				var recordQuery = query.getMethodNamed("GetPublicationRecords", 2);
				recordQuery.offset = offset;
				recordQuery.recordsPerPage = RECORDS_PER_PAGE;

				var form = recordQuery.getForm();

				EUCLID.withFormResults(
					form,
					function (results) {
						setupPaging(results);
						displayRecords(results);
					});
			}
		);
	}

	function setupPaging(results) {
		var prevPage = (results.CurrentPage > 1) ? results.CurrentPage - 1 : 1;
		$("#prev-page").attr("data-page-number", prevPage);
		$("#prev-page").attr("title", "Page " + prevPage);

		var nextPage = (results.CurrentPage < results.TotalPages) ? results.CurrentPage + 1 : results.TotalPages;
		$("#next-page").attr("data-page-number", nextPage);
		$("#next-page").attr("title", "Page " + nextPage);

		$("#page-number").val(results.CurrentPage);
		$("#page-number").attr("data-current-page", results.CurrentPage);
		$("#page-number").attr("data-max-page", results.TotalPages - 1);

		$("#display-total").text("of " + results.TotalPages);

		$("#last-page").attr("data-page-number", results.TotalPages);
		$("#last-page").attr("title", "Page " + results.TotalPages);
	}

	function displayRecords(results) {
		$("#table-body").html("");
		$.each(results.Records, function (index, item) {
			var tr = $("<tr></tr>");
			$(tr).append("<td>" + item.Created + "</td>");
			$(tr).append("<td>" + item.Dispatched + "</td>");
			$(tr).append("<td>" + item.Completed + "</td>");
			$(tr).append("<td>" + item.MessageType + "</td>");
			$(tr).append("<td><a href='" + item.MessageLocation + "'>Download</a></td>");
			if (!item.Error) {
				$(tr).append("<td>" + item.Error + "</td>");
			} else {
				$(tr).append("<td><a href='#' class='publication-record-detail' data-publication-identifier='" + item.Identifier + "'>View Details</a></td>");
			}

			$("#table-body").append($(tr));
		});

		var firstRecordNumber = ((results.CurrentPage - 1) * RECORDS_PER_PAGE) + 1;
		var lastRecord = (firstRecordNumber + RECORDS_PER_PAGE) > results.TotalRecords ? results.TotalRecords : (firstRecordNumber + RECORDS_PER_PAGE) - 1;
		$("#table-caption").html("<h2>Publication Records <small>" + firstRecordNumber + " through " + lastRecord + "</small><h2>");
	}
</script>

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Composite Inspector</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/composite/details">Composite Details</a></li>
					<li class="active"><a href="#">Command Registry</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div id="publication-records">
			<table class="table table-bordered table-striped table-condensed">
				<caption id="table-caption"></caption>
				<thead>
					<tr>
						<th>
							Created
						</th>
						<th>
							Dispatched
						</th>
						<th>
							Completed
						</th>
						<th>
							Message Type
						</th>
						<th>
							Command
						</th>
						<th>
							Error
						</th>
					</tr>
				</thead>
				<tbody id="table-body"></tbody>
			</table>
		</div>

		<div id="pager" class="pagination">
			<ul>
				<li><a href="#" id="first-page" class="page" data-page-number="1" title="Page 1">First Page</a></li>
				<li><a href="#" id="prev-page" class="page">&larr;</a></li>
				<li><a href="#" class="disabled">
						<input type="text" id="page-number" value="" style="width: 25px; padding: 0px; margin-bottom: 5px;" />
						<span id="display-total">of </span></a></li>
				<li><a href="#" id="next-page" class="page">&rarr;</a></li>
				<li><a href="#" id="last-page" class="page">Last Page</a></li>
			</ul>
		</div>
	</div>

</div>
