
<article>
	<section>
		<header>
			<h2>Manage Voting Schemes</h2>
		</header>
		<p>Select how forum members vote on posts and comments</p>
		<table>
			<thead>
				<tr>
					<th>Active</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="radio" name="voting" value="none"/></td>
					<td>None</td>
					<td>Users cannot vote on posts or comments</td>
				</tr>
				<tr>
					<td><input type="radio" name="voting" value="up-down" checked="checked"/></td>
					<td>Up / Down</td>
					<td>Users can vote a post or comment up or down.  A user can change their vote, but can only vote on a particular post or comment once</td>
				</tr>
			</tbody>
		</table>
		<button type="submit" id="save-voting-scheme">Save</button>
	</section>
</article>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>Voting</li>
	</ul>
}
