@{
	ViewBag.Title = "Dashboard";
}

<article>
	<header>
		<h2 style="">Hello, *your name here*</h2>
	</header>
</article>

<section>
	<fieldset>
		<legend>User Activity</legend>

		<table class="data" data-chart="line">
			<thead>
				<tr>
					<td></td>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">Yesterday</th>
					<th scope="col">Today</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Posts</th>
					<td>190</td>
					<td>160</td>
					<td>40</td>
					<td>120</td>
					<td>30</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">Comments</th>
					<td>3</td>
					<td>40</td>
					<td>30</td>
					<td>45</td>
					<td>35</td>
					<td>49</td>
				</tr>
				<tr>
					<th scope="row">Upvotes</th>
					<td>10</td>
					<td>180</td>
					<td>10</td>
					<td>85</td>
					<td>25</td>
					<td>79</td>
				</tr>
				<tr>
					<th scope="row">Downvotes</th>
					<td>40</td>
					<td>80</td>
					<td>90</td>
					<td>25</td>
					<td>15</td>
					<td>119</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</section>

<section>
	<fieldset>
		<legend>Today's Stats</legend>

		<div class="widget text-only" id="text-widget">
			<p><strong>Forum Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>User Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Post Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Reply Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Vote Count</strong> +29 Lorem Ipsum</p>
		</div>
		<div style="float:right;text-align:left" class="note-container">
			<p class="note">Data reflect the last 24 horus of activity across the organization</p>
		</div>
	</fieldset>
</section>

