@{
	ViewBag.Title = "Dashboard";
}

<article>
	<header>
		<h2 style="">Hello, *your name here*</h2>
	</header>
</article>

<section>
	<fieldset>
		<legend>Today's Stats</legend>

		<div class="widget text-only" id="text-widget">
			<p><strong>Forum Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>User Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Post Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Reply Count</strong> +29 Lorem Ipsum</p>
		</div>

		<div class="widget text-only" id="text-widget">
			<p><strong>Vote Count</strong> +29 Lorem Ipsum</p>
		</div>
		<div style="float:right;text-align:left" class="note-container">
			<p class="note">Data reflect the last 24 horus of activity across the organization</p>
		</div>
	</fieldset>
</section>

<section>&nbsp;</section>

@{Html.RenderPartial("_MyForums");}
