@model object

@{
	ViewBag.Title = "Authentication Providers";
}


<article>
	<header>
		<h2>Select Authentication Method</h2>
	</header>

	<section>
		<table>
			<thead>
				<tr>
					<th><input type="checkbox" class="check-all" title="select all"/></th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox"/></td>
					<td>Facebook</td>
				</tr>
				<tr>
					<td><input type="checkbox"/></td>
					<td>OAuth</td>
				</tr>
				<tr>
					<td><input type="checkbox"/></td>
					<td>Google</td>
				</tr>
				<tr>
					<td><input type="checkbox"/></td>
					<td>Twitter</td>
				</tr>
				<tr>
					<td><input type="checkbox"/></td>
					<td>Azure ACS</td>
				</tr>
				<tr>
					<td><input type="checkbox"/></td>
					<td>Active Directory</td>
				</tr>
			</tbody>
		</table>

		<input type="button" class="button" value="Save" style="float:right"/>
	</section>
</article>
