@using AdminComposite.Models
@model CreateForumInputModel
@{
	ViewBag.Title = "Create Forum";
}

<div>
	<article>
		<header>
			<h2>Create Forum</h2>
		</header>
	</article>

	@{Html.RenderPartial("_NewForum", Model);}

	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et <a href="#">
			dignissim metus</a>. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat
			est suscipit sagittis.</p>
	</footer>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
