@using AdminComposite.Models
@{
	ViewBag.Title = "Forum Details";
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
	</article>
	<section>
			<div class="sidetabs">
			<nav class="sidetab-switch">
				<ul>
					<li><a href="#test" class="default-sidetab current">Test</a></li>
					<li><a href="#production">Production</a></li>
				</ul>
			</nav>

			
			<div id="test" class="sidetab default-sidetab">
				@using (Html.BeginForm("Publish", "Agents", FormMethod.Post))
				{
					<fieldset>
						<legend>Forum Details</legend>
						
						@{Html.RenderPartial("_ForumDetails");}
					</fieldset>
				
					<fieldset>
						<legend>Other Settings to Copy</legend>

						<dl>
							<dt><label for="copy-badges">Badges</label></dt>
							<dd><input type="checkbox" id="copy-badges"/></dd>

							<dt><label for="copy-categories">Categories</label> </dt>
							<dd><input type="checkbox" id="copy-categories"/> </dd>

							<dt><label for="copy-voting">Voting</label></dt>
							<dd><input type="checkbox" id="copy-voting"/></dd>

							<dt><label for="copy-content">Content</label></dt>
							<dd><input type="checkbox" id="copy-content"/></dd>

							<dt><label for="copy-theme">Theme Selection</label></dt>
							<dd><input type="checkbox" id="copy-theme"/></dd>
						</dl>
					</fieldset>

					<button type="submit">Copy to Production</button>
					<button type="submit">Save Settings</button>
				}
			</div>

			<div id="production" class="sidetab" style="display: none">
								<form action="#">
					<fieldset>
						<legend>Forum Details</legend>
						
						@{Html.RenderPartial("_ForumDetails");}
					</fieldset>
				
					<fieldset>
						<legend>Other Settings to Copy</legend>

						<dl>
							<dt><label for="copy-badges">Badges</label></dt>
							<dd><input type="checkbox" id="copy-badges"/></dd>

							<dt><label for="copy-categories">Categories</label> </dt>
							<dd><input type="checkbox" id="copy-categories"/> </dd>

							<dt><label for="copy-voting">Voting</label></dt>
							<dd><input type="checkbox" id="copy-voting"/></dd>

							<dt><label for="copy-content">Content</label></dt>
							<dd><input type="checkbox" id="copy-content"/></dd>

							<dt><label for="copy-theme">Theme Selection</label></dt>
							<dd><input type="checkbox" id="copy-theme"/></dd>
						</dl>
					</fieldset>

					<button type="submit">Copy to Test</button>
					<button type="submit">Save Settings</button>
				</form>
			</div>
		</div>
	</section>
</div>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>Forum Details</li>
	</ul>
}
