<article>
	<header>
		<h2>Manage Forum Categories</h2>
		<input type="button" id="create-category" class="button" value="New Category" style="float: right" />
	</header>
	<p>Lorem ipsum dolor sit consecutator amet. </p>
	<table>
		<thead>
			<tr>
				<th><input type="checkbox" class="check-all"/></th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 1</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 2</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 3</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>Category 4</td>
			</tr>
		</tbody>
	</table>
</article>