@{
	ViewBag.Title = "Manage Forum Settings";
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#forum-environment-select").tabs();
	});

</script>

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
	</article>

	<div id="forum-environment-select">
		<ul>
			<li><a href="#test" class="active">Test</a></li>
			<li><a href="#production">Production</a></li>
		</ul>

		<div id="test">
			These are the settings for test
			<br/>
			<br/>
			<br/>
			<input type="button" class="button" value="Copy to Production"/>
		</div>

		<div id="production">
			These are the settings for production
			<br/>
			<br/>
			<br/>
			<input type="button" class="button" value="Copy to Test"/>
		</div>
	</div>
</div>