@using AdminComposite.Models
@{
	ViewBag.Title = "Forum Details";
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
	</article>
	<section>
			<div class="sidetabs">
			<nav class="sidetab-switch">
				<ul>
					<li><a href="#test" class="default-sidetab current">Test</a></li>
					<li><a href="#production">Production</a></li>
				</ul>
			</nav>

			
			<div id="test" class="sidetab default-sidetab">
				<form action="#">
					<fieldset>
						<legend>Forum Settings</legend>
						
						@{Html.RenderPartial("_ForumDetails");}
					</fieldset>
				
					<fieldset>
						<legend>Other Settings to Copy</legend>

						<article style="margin-top:10px">
							<section>
								<ul class="list-style-arrow">
									<li><input type="checkbox" id="copy-badges"/> <label for="copy-badges">Badges</label></li>
									<li><input type="checkbox" id="copy-categories"/> <label for="copy-categories">Categories</label> </li>
									<li><input type="checkbox" id="copy-voting"/> <label for="copy-voting">Voting</label> </li>
									<li><input type="checkbox" id="copy-content"/> <label for="copy-content">Content</label> </li>
									<li><input type="checkbox" id="copy-theme"/> <label for="copy-theme">Theme Selection</label> </li>
								</ul>
							</section>
						</article>
					</fieldset>

					<button type="submit">Copy to Production</button>
					<button type="submit">Save Settings</button>
				</form>
				
			</div>

			<div id="production" class="sidetab" style="display: none">
								<form action="#">
					<fieldset>
						<legend>Forum Settings</legend>
						
						@{Html.RenderPartial("_ForumDetails");}
					</fieldset>
				
					<fieldset>
						<legend>Other Settings to Copy</legend>

						<article style="margin-top:10px">
							<section>
								<ul class="list-style-arrow">
									<li><input type="checkbox" id="copy-badges"/> <label for="copy-badges">Badges</label></li>
									<li><input type="checkbox" id="copy-categories"/> <label for="copy-categories">Categories</label> </li>
									<li><input type="checkbox" id="copy-voting"/> <label for="copy-voting">Voting</label> </li>
									<li><input type="checkbox" id="copy-content"/> <label for="copy-content">Content</label> </li>
									<li><input type="checkbox" id="copy-theme"/> <label for="copy-theme">Theme Selection</label> </li>
								</ul>
							</section>
						</article>
					</fieldset>

					<button type="submit">Copy to Test</button>
					<button type="submit">Save Settings</button>
				</form>
			</div>
		</div>
	</section>
</div>

