@using AdminComposite.Models
@{
	ViewBag.Title = "Forum Details";
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
	</article>
	<section>
			<div class="sidetabs">
			<nav class="sidetab-switch">
				<ul>
					<li><a href="#test" class="default-sidetab current">Test</a></li>
					<li><a href="#production">Production</a></li>
				</ul>
			</nav>

			
			<div id="test" class="sidetab default-sidetab">
				<h2>Test Settings</h2>
				@{Html.RenderPartial("_ForumDetails");}
				
				<fieldset>
					<legend>Other Settings to Copy</legend>

					<article style="margin-top:10px">
						<section>
							<ul class="list-style-arrow">
								<li><input type="checkbox" id="copy-badges"/> <label for="copy-badges">Badges</label></li>
								<li><input type="checkbox" id="copy-categories"/> <label for="copy-categories">Categories</label> </li>
								<li><input type="checkbox" id="copy-voting"/> <label for="copy-voting">Voting</label> </li>
								<li><input type="checkbox" id="copy-content"/> <label for="copy-content">Content</label> </li>
								<li><input type="checkbox" id="copy-theme"/> <label for="copy-theme">Theme Selection</label> </li>
							</ul>
						</section>
					</article>
				</fieldset>

				<input type="button" class="button" value="Copy to Production"  style="float:right"/>
			</div>

			<div id="production" class="sidetab" style="display: none">
				<h3>Production Settings</h3>
				@{Html.RenderPartial("_ForumDetails");}

				<fieldset>
					<legend>Other Settings to Copy</legend>

					<article style="margin-top:10px">
						<section>
							<ul class="list-style-arrow">
								<li><input type="checkbox" id="copy-badges"/> <label for="copy-badges">Badges</label></li>
								<li><input type="checkbox" id="copy-categories"/> <label for="copy-categories">Categories</label> </li>
								<li><input type="checkbox" id="copy-voting"/> <label for="copy-voting">Voting</label> </li>
								<li><input type="checkbox" id="copy-content"/> <label for="copy-content">Content</label> </li>
								<li><input type="checkbox" id="copy-theme"/> <label for="copy-theme">Theme Selection</label> </li>
							</ul>
						</section>
					</article>
				</fieldset>

				<input type="button" class="button" value="Copy to Test"  style="float:right"/>
			</div>
		</div>
	</section>
</div>

