@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@using CompositeInspector.Models
@using JsonCompositeInspector.Models;
@using Euclid.Framework;
@{
	Layout = "Shared/_Layout.cshtml";
	CommandModel model = (CommandModel)@Model;
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#stop-polling-button").hide();
		try {
			var model = EUCLID.getInputModel({ agentSystemName: "@model.AgentSystemName", commandName: "@model.CommandName" });
			var form = model.getForm();
			$("#form-container").append(form);
			$(form).attr("id", "command-form");
		} catch (e) {
			EUCLID.displayError(e);
		}

		var continuePolling = true;
		$(document).on("submit", "#command-form", function () {
			$("#stop-polling-button").hide();
			event.preventDefault();
			continuePolling = true;
			var publicationModel = null;
			$("#publication-record").html("");
			$("#poll-count").text("0 times");
			try {
				publicationModel = EUCLID.submitForm($("#command-form"));
			} catch (e) {
				EUCLID.displayError(e);
			}

			try {
				$("#stop-polling-button").show();
				$("#poll-count").text("1 time");
				EUCLID.pollForCommandStatus({
					publicationId: publicationModel.publicationId,

					onOpportunityToCancelPolling: function (iteration) {
						$("#poll-count").text(iteration + " times");
						return (iteration < 50 && continuePolling);
					},

					onCommandComplete: function (result) {
						$("#stop-polling-button").hide();
						$("#publication-record").html("<div class='alert-message success'><p><strong>Complete</strong> <span>the command <a href='" + result.MessageLocation + "'>" + result.MessageType + "</a> has been processed</span></p></div>");
					},

					onCommandError: function (result) {
						$("#stop-polling-button").hide();
						$("#publication-record").html("<div class='alert-message warning'><p><strong>Error processing command</strong> <span>" + result.ErrorMessage + "</span><span>" + result.CallStack + "</span></p></div>");
					},

					onPollError: function (e) {
						$("#stop-polling-button").hide();
						$("#publication-record").html("<div class='alert-message warning'><p><strong>" + e.name + "</strong> <span>" + e.message + "</span></p></div>");
					}
				});
			} catch (e) {
				$("#stop-polling-button").hide();
				EUCLID.displayError(e);
			}

			return false;
		});

		$("#stop-polling-button").click(function () {
			continuePolling = false;
		});
	});
</script>
<div class="row show-grid">

	<div class="span5 columns">
		<div id="form-container" ></div>
	</div>

	<div class="span7 offset4" id="results-container">
		<div>Polled <span id="poll-count">0 times</span></div>
		<div id="publication-record"></div>
		<button type="button" class="btn small" id="stop-polling-button">Stop Polling</button>
	</div>

</div>