<h3>Categories</h3>
<ul>
	<li><a href="Category.cshtml">Category</a> (10)</li>
	<li><a href="Category.cshtml">Another Category</a> (10)</li>
	<li><a href="Category.cshtml">Creative Category</a> (10)</li>
	<li><a href="Category.cshtml">Unmoderated Forum</a> (10)</li>
	<li><a href="Category.cshtml">Placeholder Category</a> (10)</li>
	<li><a href="Category.cshtml">Example Category</a> (10)</li>
</ul>
<p><a href="Categories.cshtml">View all categories</a>.</p>