<div class="sidebar">
	<div class="well">
		@RenderPage("~/partials/Badge.cshtml")       
	</div>
	<div class="well">
		@RenderPage("~/partials/Categories.cshtml")       
		<hr/>
		@RenderPage("~/partials/TopUsers.cshtml")       
		<hr/>
		@RenderPage("~/partials/Tags.cshtml")       
	</div>
</div>