@using Euclid.Composite.MvcApplication.Models
@model PartCollectionMetadataModel

<h1>@ViewBag.Title</h1>

<ul>
	@foreach (var m in Model.Parts)
	{
        <li>
			<a href="@Url.Action(Model.NextActionName, "Agents", new {agentSystemName = Model.AgentSystemName, partType=Model.PartTypeName, partName = m.Name})">
				@Model.Parts.Namespace.@m.Name
			</a>
		</li>
	}
</ul>

<a href="@Url.Action("Index", "Agents")">Agents in composite</a>