@using Euclid.Framework.Models
@model IInputModel

<div class="model-header">input form for @this.Model.CommandType.Name</div>

@using (this.Html.BeginForm())
{
	@this.Html.ValidationSummary(true)

	<fieldset>
		@this.Html.EditorFor(p => this.Model)
	</fieldset>

	<input type="submit" value="Publish Command" />
}