<div class="row-fluid">

	<div id="inspectorMainLeft" style="background-color: whitesmoke; height: 255px" class="span4">
		<ul class="nav nav-list">{{#each Agents}}
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">{{DescriptiveName}}</a></li>
			{{/each}} </ul>
	</div>

	<div id="inspectorMainCenter" style="background-color: whitesmoke; height: 255px" class="span4">
		&nbsp;
	</div>

	<div id="inspectorMainRight" style="background-color: whitesmoke; height: 255px" class="span4">
		&nbsp;
	</div>

</div>

