<div class="row-fluid">

	<div id="inspectorMainLeft" style="background-color: whitesmoke; height: 255px; overflow-y: auto; overflow-x: hidden;" class="span3">
		<ul style="margin-top: 10px;" class="nav nav-list">
			<li class="nav-header"><i class="icon-chevron-down"></i>&nbsp;Agents</li>
			{{#each Agents}}
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">{{DescriptiveName}}</a></li>
			{{/each}}
			<li class="active"><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Agent
				Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Agent Name</a></li>
		</ul>
	</div>

	<div id="inspectorMainCenter" style="background-color: whitesmoke; height: 255px; overflow-y: auto; overflow-x: hidden;" class="span3">
		<ul style="margin-top: 10px;" class="nav nav-list">
			<li class="nav-header"><i class="icon-chevron-down"></i>&nbsp;Commands</li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Command Name</a></li>
			<li class="active"><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Command
				Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Command Name</a></li>
			<li class="nav-header"><i class="icon-chevron-down"></i>&nbsp;Queries</li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Query Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Query Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Query Name</a></li>
			<li class="nav-header"><i class="icon-chevron-down"></i>&nbsp;Read models</li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Read Model Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Read Model Name</a></li>
			<li><a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">Read Model Name</a></li>
		</ul>
	</div>

	<div id="inspectorMainRight" style="background-color: whitesmoke; height: 255px; overflow-y: auto; overflow-x: hidden;" class="span6">
		<form class="form-horizontal" style="margin: 15px;">

		<div class="control-group">
			<h3>Publish <em>Command Name</em></h3>
		</div>

		<div class="control-group">
			<label class="control-label" for="input01">Property Name</label>

			<div class="controls">
				<input type="text" class="input-medium" id="input01">
			</div>

		</div>

		<div class="control-group">
			<label class="control-label" for="input02">Another Name</label>

			<div class="controls">
				<input type="text" class="input-medium" id="input02">
			</div>

		</div>

		<div class="control-group">
			<label class="control-label" for="input03">Third Name</label>

			<div class="controls">
				<input type="text" class="input-medium" id="input03">
			</div>

		</div>

		<div class="control-group">
			<label class="control-label" for="input04">Fourth Name</label>

			<div class="controls">
				<input type="text" class="input-medium" id="input04">
			</div>

		</div>

		<div class="control-group">
			<label class="control-label" for="input05">Fifth Property</label>

			<div class="controls">
				<input type="text" class="input-medium" id="input05">
			</div>

		</div>

		<div class="form-actions">
			<button class="btn btn-primary">Publish</button>
		</div>

		</form>
	</div>

</div>

