<div class="row-fluid">

	<div style="background-color: whitesmoke;" class="span3">
		<div style="margin: 5px;"><h4>NewCo Forum Agent</h4></div>
	</div>

	<div style="background-color: whitesmoke;" class="span3">
		<div style="margin: 5px;"><h4>TestQueries.FindByName</h4></div>
	</div>

	<div style="background-color: whitesmoke;" class="span6">
		<div style="margin: 5px;">Name="John Doe", ...</div>
	</div>

</div>

<div class="row-fluid">

	<div id="inspectorCommandStatus" style="background-color: whitesmoke; padding:15px; height: 180px; overflow-y: auto; overflow-x: hidden; margin-top: 15px;" class="span12">
		{Query results grid}
	</div>

</div>
