<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Composite Inspector</title>
		<script type="text/javascript" src="/composite/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/composite/js/euclid.js" ></script>
		<link rel="Stylesheet" type="text/css" href="/composite/css/composite-inspector.css" />
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css" />
	</head>

	<body>
		<div class="row">
			@RenderBody()
		</div>
	</body>
</html>
