<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@RenderPage("Styles.cshtml")
	@RenderPage("Scripts.cshtml")
</head>
<body>

	<div class="container-fluid">

		<div class="row show-grid">

			<div class="span10 columns offset6">
				Header
			</div>

		</div>

		<div>
			@RenderBody()
		</div>

		<div class="row show-grid">

			<div class="span10 columns">
				Footer
			</div>

		</div>

	</div>

</body>
</html>
