<!DOCTYPE html>

<html>
	<head>
		<title>Composite Inspector</title>
	</head>
	<frameset cols="0" rows="350,*">
		<frame src="/composite/home" frameborder="0"/>
		<frame src="/"/>
	</frameset>
</html>