<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{Forum Name} - {Tag Name}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	@RenderPage("~/partials/shared/Styles.cshtml")
	@RenderPage("~/partials/shared/Scripts.cshtml")
</head>
<body>
	@RenderPage("~/partials/TopBar.cshtml")

	<div class="container-fluid">
		@RenderPage("~/partials/Sidebar.cshtml")

		<div class="content">
			<ul class="breadcrumb">
				<li><a href="Home.cshtml">{Forum Name} Home</a> <span class="divider">/</span></li>
				<li><a href="Tags.cshtml">Tags</a> <span class="divider">/</span></li>
				<li class="active">{Tag Name}</li>
			</ul>
			<h1>{Tag Name}</h1>
			<hr />
			<p><small>(Custom tag content.)</small></p>

			<div class="row">

				<div class="span8">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h2><a href="Post.cshtml">{Post Title}</a></h2>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. Etiam porta sem malesuada magna mollis euismod. &mdash; <span style="text-align: right;
							font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">
							Placeholder Category</span></a></p>

					<div class="row">

						<div class="span4">
							<a class="btn" href="#">Add comment &raquo;</a></div>

						<div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

				<div class="span8">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h2><a href="Post.cshtml">{Post Title}</a></h2>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. Etiam porta sem malesuada magna mollis euismod. &mdash; <span style="text-align: right;
							font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">
								Another Category</a></p>

					<div class="row">

						<div class="span4">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

			</div>

			<hr>

			<div class="row">

				<div class="span8">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h2><a href="Post.cshtml">{Post Title}</a></h2>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. Etiam porta sem malesuada magna mollis euismod. &mdash; <span style="text-align: right;
							font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">
							Placeholder Category</span></a></p>

					<div class="row">

						<div class="span4">
							<a class="btn" href="#">Add comment &raquo;</a></div>

						<div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

				<div class="span8">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h2><a href="Post.cshtml">{Post Title}</a></h2>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. Etiam porta sem malesuada magna mollis euismod. &mdash; <span style="text-align: right;
							font-size: smaller;"><em>12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">
								Another Category</a></p>

					<div class="row">

						<div class="span4">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span4" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

			</div>

			<hr>

			<div class="row">

				<div class="span4">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h3><a href="Post.cshtml">{Post Title}</a></h3>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
							12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Example Category</a></p>

					<div class="row">

						<div class="span2">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

				<div class="span4">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h3><a href="Post.cshtml">{Post Title}</a></h3>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
							12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Creative Category</a></p>

					<div class="row">

						<div class="span2">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

				<div class="span4">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h3><a href="Post.cshtml">{Post Title}</a></h3>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
							12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Unmoderated Forum</a></p>

					<div class="row">

						<div class="span2">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

				<div class="span4">

					<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
						float: right; clear: left;">
						<img src="images/thumb-up.png" /><br />
						<img src="images/thumb-down.png" /><br />
						<img src="images/icon_notification_attention.png" /><br />
					</div>

					<h3><a href="Post.cshtml">{Post Title}</a></h3>
					<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
						dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
							12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Category</a></p>

					<div class="row">

						<div class="span2">
							<a class="btn small" href="#">Add comment &raquo;</a></div>

						<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
							<a href="#">999 comments</a></div>

					</div>

				</div>

			</div>

			<footer>
				<p>&copy; Newco 2011-12</p>
			</footer>
		</div>

	</div>

</body>
</html>
